# Dir for API portal deploy
web_deploy
node_modules
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
lib
npm-debug.log
node_modules
.nyc_output
coverage
docs
public
dist/openapi.d.ts
dist/openapi.js
.DS_Store
.claude
CLAUDE.md
dist/index.html
