openapi: 3.0.3
info:
  version: 5.0.2
  license:
    name: Copyright (C) IDDQD Limited - All Rights Reserved
    url: https://terms.ideal-postcodes.co.uk
  title: API Reference
  termsOfService: https://terms.ideal-postcodes.co.uk
  description: |
    ## Getting Started

    All API methods are either a `GET`, `POST` or `OPTIONS` request.

    The API communicates over both HTTPS and plain HTTP using IPv4 and IPv6.

    We use appropriate HTTP status codes where possible to indicate the request status. Every error body also carries a numeric `code`. The [error codes guide](https://docs.ideal-postcodes.co.uk/docs/guides/error-codes) lists each code and how to fix it.

    ## OpenAPI Spec

    Our OpenAPI specification is available at:

    - [npm package](https://www.npmjs.com/package/@ideal-postcodes/openapi)
    - [API Reference](https://openapi.ideal-postcodes.co.uk)
    - [OpenAPI v3 JSON File](https://openapi.ideal-postcodes.co.uk/openapi.json)
    - [OpenAPI v3 YAML File](https://openapi.ideal-postcodes.co.uk/openapi.yaml)

    ## Rate Limiting

    Each IP address is rate limited at 30 requests per second. Exceeding the limit returns a 503 response.

    The autocomplete API has an additional rate limit.

    If you expect to exceed the limit, contact us and we can move you to an endpoint with a higher limit.

    ## Authentication

    Most requests require an **API key** for authentication. Authenticate by passing an `api_key` as part of the query string. For example:

    ```
    api.ideal-postcodes.co.uk/v1/autocomplete/addresses?api_key=ak_test&q=parkside
    ```

    Alternatively, pass the key in the `Authorization` header:

    ```
    Authorization: api_key="ak_test" [other_key="foo"]
    ```

    ## Versioning

    This API is versioned with a simple prefix in the URL. The current version is `/v1/`. We will maintain backwards-compatibility by releasing breaking changes under a new version.

    The following changes are backwards-compatible:

    - Adding new properties to existing API responses
    - Adding new API endpoints
    - Adding new optional request parameters to existing API endpoints
    - Changing the order of properties in existing API responses
    - Changing the autocomplete address suggestion format

    ## Error Handling

    A successful lookup returns an HTTP status code of 200 and a response code of 2000 in the body.

    Any other status code means an error. These range from a benign 404 (resource not found) to more urgent problems, such as an API Key out of credit or a failed authentication.

    ## Testing

    To test the API, create an account. Each new account comes with a free test balance. Contact us if you need more for testing and integration.

    The code samples in this reference use the `ak_test` key. You can use it too, but it is capped at 5 requests per day.

    ## Metadata

    You can annotate requests that affect your balance with arbitrary metadata. We store it with your lookup history, and you can query it later via the API or the dashboard. We call the ability to label your requests [tagging](https://docs.ideal-postcodes.co.uk/docs/guides/tags).

    ## Response Codes

    The API returns two indicators to help you determine the status of each HTTP request.

    The first is the **HTTP Status**, which is found in the status line of every HTTP response. The API will return status codes that adhere to HTTP/1.1 Specifications wherever possible.

    `2XX` status codes indicate success while `4XX` and `5XX` indicate client and server errors respectively.

    The second is the **API response code**, which can be found in the `code` property of the response body. This code gives a more specific reason for a failure and points you in the right direction when debugging.
  contact:
    email: support@ideal-postcodes.co.uk
    name: Support
    url: https://ideal-postcodes.co.uk/support
servers:
  - url: https://api.ideal-postcodes.co.uk/v1
    description: API Server
    variables: {}
tags:
  - name: Address Search
    description: Global address autocomplete, for search-as-you-type
  - name: Place Search
    description: Global places search to identify geographical names and places
  - name: UK
    description: UK Address and Postcode Search
  - name: Keys
    description: Monitor and manage API Keys
  - name: Licensees
    description: |
      The Licensee resource represents an alternate legal End User of our data who may not be the same entity as the owners of the account.

      Licensees underpin our sublicensing platform, which lets you license multiple external organisations or individuals to access data under one account.

      Sublicensing suits platform vendors who serve multiple clients, each with their own users.
  - name: Configs
    description: |
      The Config resource assigns serialised configuration data to an API Key. Retrieve the payload later to configure your integration at runtime.

      Useful if you need to configure your integration remotely rather than editing code in situ.
  - name: suggestion
    x-displayName: Address Suggestion
    description: |
      Address Suggestions are simple, human readable representations of an address. This format is sufficient for a user to determine an address match in an address autocomplete interface. A second request must be made to the API to gather fully validated address.

      See our Address Search APIs for more information on address autocompletion.

      <SchemaDefinition schemaRef="#/components/schemas/AddressSuggestion" />
  - name: address
    x-displayName: Address
    description: |
      The address format returned by every endpoint bar the postcode and address list, for every dataset, UK and non-UK alike. `dataset` identifies the source; `native` carries the raw dataset record and is always present.

      <SchemaDefinition schemaRef="#/components/schemas/Address" />
  - name: address_list_item
    x-displayName: Address (list endpoints)
    description: |
      The same fields as `Address`, returned by the postcode and address list endpoints. `native` is present for AddressBase and non-UK datasets only, never for the Royal Mail PAF family.

      <SchemaDefinition schemaRef="#/components/schemas/AddressListItem" />
  - name: paf_native
    x-displayName: PAF
    description: |
      Raw Royal Mail Postcode Address File record.

      <SchemaDefinition schemaRef="#/components/schemas/PafAddress" />
  - name: mr_native
    x-displayName: Multiple Residence
    description: |
      Raw Royal Mail Multiple Residence record.

      <SchemaDefinition schemaRef="#/components/schemas/MrAddress" />
  - name: nyb_native
    x-displayName: Not Yet Built
    description: |
      Raw Royal Mail Not Yet Built record.

      <SchemaDefinition schemaRef="#/components/schemas/NybAddress" />
  - name: pafa_native
    x-displayName: PAF Alias
    description: |
      Raw Royal Mail Alias record.

      <SchemaDefinition schemaRef="#/components/schemas/PafaAddress" />
  - name: pafw_native
    x-displayName: Welsh PAF
    description: |
      Raw Royal Mail Welsh language record.

      <SchemaDefinition schemaRef="#/components/schemas/PafwAddress" />
  - name: ecaf_address
    x-displayName: IE Eircode ECAF
    description: |
      Standard Republic of Ireland Address format as reported by the Eircode ECAF file.

      <SchemaDefinition schemaRef="#/components/schemas/EcafAddress" />
  - name: ecad_address
    x-displayName: IE Eircode ECAD
    description: |
      ECAF file including additional data for each address.

      <SchemaDefinition schemaRef="#/components/schemas/EcadAddress" />
  - name: ab_address
    x-displayName: AddressBase Core
    description: |
      AddressBase Core Address. An alternative to UK PAF dataset from Ordnance Survey.

      Please contact us to have this enabled on your account.

      <SchemaDefinition schemaRef="#/components/schemas/AbAddress" />
  - name: abp_address
    x-displayName: AddressBase Premium
    description: |
      AddressBase Premium Address. The full property-level record from Ordnance
      Survey AddressBase Premium - the flat `abp.addresses` row (BLPU, DPA,
      Classification, Organisation, LPI, Street and cross references).

      Please contact us to have this enabled on your account.

      <SchemaDefinition schemaRef="#/components/schemas/AbpAddress" />
  - name: bev_address
    x-displayName: AT BEV
    description: |
      Standard Austrian Address format as reported by the BEV (Bundesamt
      für Eich- und Vermessungswesen) address register.

      <SchemaDefinition schemaRef="#/components/schemas/BevAddress" />
  - name: swt_address
    x-displayName: CH Swisstopo
    description: |
      Standard Swiss and Liechtenstein Address format from the Swisstopo
      official directories of buildings, streets and localities.

      <SchemaDefinition schemaRef="#/components/schemas/SwtAddress" />
  - name: gnaf_address
    x-displayName: AU G-NAF
    description: |
      Standard Australian Address format from Geoscape's Geocoded National
      Address File (G-NAF).

      <SchemaDefinition schemaRef="#/components/schemas/GnafAddress" />
  - name: fodbosa_address
    x-displayName: BE BeST
    description: |
      Standard Belgian Address format from the federal BeST address dataset
      (FOD BOSA).

      <SchemaDefinition schemaRef="#/components/schemas/FodbosaAddress" />
  - name: cannar_address
    x-displayName: CA National Address Register
    description: |
      Standard Canadian Address format from the National Address Register.

      <SchemaDefinition schemaRef="#/components/schemas/CannarAddress" />
  - name: sdfi_address
    x-displayName: DK SDFI
    description: |
      Standard Danish Address format from the Danish Agency for Data Supply
      and Infrastructure (SDFI).

      <SchemaDefinition schemaRef="#/components/schemas/SdfiAddress" />
  - name: ban_address
    x-displayName: FR BAN
    description: |
      Standard French Address format from the Base Adresse Nationale (BAN).

      <SchemaDefinition schemaRef="#/components/schemas/BanAddress" />
  - name: upujp_address
    x-displayName: JP UPU
    description: |
      Standard Japanese Address format from the Japan UPU address file.

      <SchemaDefinition schemaRef="#/components/schemas/UpujpAddress" />
  - name: mois_address
    x-displayName: KR MOIS
    description: |
      Standard South Korean Address format from the Korean Ministry of the
      Interior and Safety (MOIS).

      <SchemaDefinition schemaRef="#/components/schemas/MoisAddress" />
  - name: kadaster_address
    x-displayName: NL Kadaster
    description: |
      Standard Dutch Address format from Kadaster BAG 2.0.

      <SchemaDefinition schemaRef="#/components/schemas/KadasterAddress" />
  - name: kartverket_address
    x-displayName: NO Kartverket
    description: |
      Standard Norwegian Address format from the Norwegian Mapping Authority
      (Kartverket).

      <SchemaDefinition schemaRef="#/components/schemas/KartverketAddress" />
  - name: here_address
    x-displayName: HERE
    description: |
      Address from the global HERE dataset, covering regions not served by a
      national address file.

      <SchemaDefinition schemaRef="#/components/schemas/HereAddress" />
  - name: geonames_place
    x-displayName: GeoNames Place
    description: |
      GeoNames place record

      <SchemaDefinition schemaRef="#/components/schemas/GeonamesPlace" />
externalDocs:
  description: More on our APIs, libraries with guides and examples
  url: https://docs.ideal-postcodes.co.uk
paths:
  /postcodes/{postcode}:
    get:
      tags:
        - UK
      summary: Lookup Postcode
      operationId: Postcodes
      description: |
        Returns the complete list of addresses for a postcode. Postcode searches are space and case insensitive.

        Each request looks up one postcode. To extract the addresses for several postcodes, send one request per postcode.

        Use it to power postcode driven address searches, like [Postcode Lookup](/docs/postcode-lookup/).

        Postcode lookup covers the United Kingdom, the Republic of Ireland, the Netherlands and Singapore. The API detects the format of the postcode you submit. UK and Irish postcodes are searched by default. For a Dutch or Singapore postcode, set `context` to `NLD` or `SGP`, or to `GLOBAL` to accept any supported format.

        UK postcodes need PAF, Multiple Residence, Not Yet Built, PAF Alias, PAF Welsh, AddressBase or AddressBase Premium on your key. Eircodes need ECAD or ECAF. Dutch postcodes need Kadaster. Singapore postcodes need HERE Asia Pacific. Without a matching licence the request is rejected.

        An unfound postcode costs no lookup. A postcode that returns addresses costs one.

        ## Postcode Not Found

        Invalid postcodes do not affect your lookup balance. The API returns a `404` response with this body:

        ```json
        {
          "code": 4040,
          "message": "Postcode not found",
          "suggestions": ["SW1A 0AA"]
        }
        ```

        ### Suggestions

        If a postcode cannot be found, the API returns up to 5 of the closest matching postcodes. It corrects common errors first (e.g. mixing up `O` and `0` or `I` and `1`).

        If the suggestion list is small (fewer than 3), the correct postcode is likely to be among them. Notify the user or trigger new searches immediately.

        The suggestion list is empty if the postcode has deviated too far from a valid postcode format.

        ## Multiple Residence

        A small number of postcodes return more than 100 premises. The API returns 100 addresses per page, so use `page` to paginate the result set.

        ## Testing

        - **ID1 1QD** Returns a successful postcode lookup response `2000`
        - **ID1 KFA** Returns "postcode not found" error `4040`
        - **ID1 CLIP** Returns "no lookups remaining" error `4020`
        - **ID1 CHOP** Returns "daily (or individual) lookup limit breached" error `4021`

        Test requests undergo the usual authentication and restriction rules. They surface any issues during implementation and do not cost you a lookup.
      parameters:
        - name: postcode
          in: path
          description: Postcode to retrieve
          required: true
          style: simple
          explode: false
          example: SW1A 2AA
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/TagsParam'
        - $ref: '#/components/parameters/DatasetParam'
        - $ref: '#/components/parameters/ContextParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeResponse'
              examples:
                Postcode Found:
                  value:
                    result:
                      - postcode: SW1A 2AA
                        postcode_inward: 2AA
                        postcode_outward: SW1A
                        post_town: London
                        dependant_locality: ''
                        double_dependant_locality: ''
                        thoroughfare: Downing Street
                        dependant_thoroughfare: ''
                        building_number: '10'
                        building_name: ''
                        sub_building_name: ''
                        po_box: ''
                        department_name: ''
                        organisation_name: Prime Minister & First Lord Of The Treasury
                        udprn: 23747771
                        postcode_type: S
                        su_organisation_indicator: ''
                        delivery_point_suffix: 1A
                        line_1: Prime Minister & First Lord Of The Treasury
                        line_2: 10 Downing Street
                        line_3: ''
                        premise: '10'
                        longitude: -0.12767
                        latitude: 51.503541
                        eastings: 530047
                        northings: 179951
                        country: England
                        traditional_county: Greater London
                        administrative_county: ''
                        postal_county: London
                        county: London
                        district: Westminster
                        ward: St. James's
                        uprn: '100023336956'
                        id: paf_23747771
                        country_iso: GBR
                        country_iso_2: GB
                        county_code: ''
                        language: en
                        umprn: ''
                        dataset: paf
                    code: 2000
                    message: Success
                    limit: 100
                    page: 0
                    total: 1
        '404':
          description: Postcode Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeNotFoundResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/postcodes/SW1A2AA?api_key=ak_test
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/postcodes/SW1A2AA' \
              -d 'api_key=ak_test'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/postcodes/SW1A2AA?' +
              new URLSearchParams({
                api_key: 'ak_test',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/postcodes/SW1A2AA",
                params={
                    "api_key": "ak_test",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/postcodes/SW1A2AA")
            uri.query = URI.encode_www_form(api_key: "ak_test")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/postcodes/SW1A2AA?" .
              http_build_query([
                "api_key" => "ak_test",
              ])
            );
            $result = json_decode($response, true)["result"];
  /udprn/{udprn}:
    get:
      tags:
        - UK
      summary: Retrieve by UDPRN
      operationId: UDPRN
      description: |
        Returns the full address for a Unique Delivery Point Reference Number (UDPRN).

        Storing the UDPRN lets you retrieve the most recent information for an address, and test whether an address has been deleted.

        UDPRNs are an eight digit unique numeric code (e.g. `25962203`) for any premise on the Postcode Address File, Royal Mail's database of UK addresses. The API searches PAF first, then Not Yet Built if your key is licensed for it. A UDPRN on neither dataset returns `404`.

        Each address returned costs a lookup.

        ## Testing

        We provide test UDPRNs that yield both successful and unsuccessful responses. They are:

        - `0` Returns a successful UDPRN lookup response `2000`
        - `-1` Returns "UDPRN not found", error `4044`
        - `-2` Returns "no lookups remaining", error `4020`
        - `-3` Returns "daily (or individual) lookup limit breached", error `4021`

        Test requests undergo the usual authentication and restriction rules. They surface any issues during implementation and do not cost you a lookup.
      parameters:
        - name: udprn
          in: path
          description: UDPRN to retrieve
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UDPRNResponse'
              examples:
                Valid UDPRN:
                  value:
                    result:
                      postcode: SW1A 2AA
                      postcode_inward: 2AA
                      postcode_outward: SW1A
                      post_town: London
                      dependant_locality: ''
                      double_dependant_locality: ''
                      thoroughfare: Downing Street
                      dependant_thoroughfare: ''
                      building_number: '10'
                      building_name: ''
                      sub_building_name: ''
                      po_box: ''
                      department_name: ''
                      organisation_name: Prime Minister & First Lord Of The Treasury
                      udprn: 23747771
                      postcode_type: S
                      su_organisation_indicator: ''
                      delivery_point_suffix: 1A
                      line_1: Prime Minister & First Lord Of The Treasury
                      line_2: 10 Downing Street
                      line_3: ''
                      premise: '10'
                      longitude: -0.12767
                      latitude: 51.503541
                      eastings: 530047
                      northings: 179951
                      country: England
                      traditional_county: Greater London
                      administrative_county: ''
                      postal_county: London
                      county: London
                      district: Westminster
                      ward: St. James's
                      uprn: '100023336956'
                      id: paf_23747771
                      country_iso: GBR
                      country_iso_2: GB
                      county_code: ''
                      language: en
                      umprn: ''
                      dataset: paf
                      native:
                        dataset: paf
                        postcode: SW1A 2AA
                        post_town: London
                        dependant_locality: ''
                        double_dependant_locality: ''
                        thoroughfare: Downing Street
                        dependant_thoroughfare: ''
                        building_number: '10'
                        building_name: ''
                        sub_building_name: ''
                        po_box: ''
                        department_name: ''
                        organisation_name: Prime Minister & First Lord Of The Treasury
                        udprn: 23747771
                        postcode_type: S
                        su_organisation_indicator: ''
                        delivery_point_suffix: 1A
                    code: 2000
                    message: Success
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/udprn/0?api_key=ak_test
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/udprn/0' \
              -d 'api_key=ak_test'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/udprn/0?' +
              new URLSearchParams({
                api_key: 'ak_test',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/udprn/0",
                params={
                    "api_key": "ak_test",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/udprn/0")
            uri.query = URI.encode_www_form(api_key: "ak_test")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/udprn/0?" .
              http_build_query([
                "api_key" => "ak_test",
              ])
            );
            $result = json_decode($response, true)["result"];
  /umprn/{umprn}:
    get:
      tags:
        - UK
      summary: Retrieve by UMPRN
      operationId: UMPRN
      description: |
        Returns the address for a multiple occupancy household, identified by its UMPRN (Multiple Residence Unique ID).

        UMPRNs are a unique numeric code for any Multiple Residence household on the optional Multiple Residence dataset. Your key needs that dataset enabled. Without it, and for any UMPRN we cannot find, the API returns `404`.

        ## Pricing

        Per lookup charges apply. We do not charge for empty responses.

        ## Testing

        We provide test UMPRNs that yield both successful and unsuccessful responses. They are:

        - `0` Returns a successful UMPRN lookup response `2000`
        - `-1` Returns "UMPRN not found", error `4046`
        - `-2` Returns "no lookups remaining", error `4020`
        - `-3` Returns "daily (or individual) lookup limit breached", error `4021`

        Test requests undergo the usual authentication and restriction rules. They surface any issues during implementation and do not cost you a lookup.
      parameters:
        - name: umprn
          in: path
          description: UMPRN to retrieve
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UMPRNResponse'
              examples:
                Valid UMPRN:
                  value:
                    result:
                      postcode: CV4 7AL
                      postcode_inward: 7AL
                      postcode_outward: CV4
                      post_town: Coventry
                      dependant_locality: ''
                      double_dependant_locality: ''
                      thoroughfare: Gibbet Hill Road
                      dependant_thoroughfare: ''
                      building_number: ''
                      building_name: Block 1 Arthur Vick
                      sub_building_name: Room 249a
                      po_box: ''
                      department_name: ''
                      organisation_name: ''
                      udprn: 5770157
                      postcode_type: S
                      su_organisation_indicator: ''
                      delivery_point_suffix: 1A
                      line_1: Room 249a, Block 1 Arthur Vick
                      line_2: Gibbet Hill Road
                      line_3: ''
                      premise: Room 249a, Block 1 Arthur Vick
                      longitude: -1.5648072
                      latitude: 52.3858227
                      eastings: 429716
                      northings: 276509
                      country: England
                      traditional_county: Warwickshire
                      administrative_county: ''
                      postal_county: West Midlands
                      county: West Midlands
                      district: Coventry
                      ward: Wainbody
                      uprn: '200001572050'
                      id: mr_50906058
                      country_iso: GBR
                      country_iso_2: GB
                      county_code: ''
                      language: en
                      umprn: 50906058
                      dataset: mr
                      native:
                        dataset: mr
                        postcode: CV4 7AL
                        post_town: Coventry
                        dependant_locality: ''
                        double_dependant_locality: ''
                        thoroughfare: Gibbet Hill Road
                        dependant_thoroughfare: ''
                        building_number: ''
                        building_name: Block 1 Arthur Vick
                        sub_building_name: Room 249a
                        department_name: ''
                        organisation_name: ''
                        udprn: 5770157
                        postcode_type: S
                        su_organisation_indicator: ''
                        delivery_point_suffix: 1A
                        umprn: 50906058
                    code: 2000
                    message: Success
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/umprn/0?api_key=ak_test
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/umprn/0' \
              -d 'api_key=ak_test'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/umprn/0?' +
              new URLSearchParams({
                api_key: 'ak_test',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/umprn/0",
                params={
                    "api_key": "ak_test",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/umprn/0")
            uri.query = URI.encode_www_form(api_key: "ak_test")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/umprn/0?" .
              http_build_query([
                "api_key" => "ak_test",
              ])
            );
            $result = json_decode($response, true)["result"];
  /keys/{key}:
    get:
      tags:
        - Keys
      summary: Availability
      operationId: KeyAvailability
      description: |
        Returns public information on an API Key: whether it can be used right now (`available`), the search contexts the key is licensed for (`contexts`) and the context that best matches the caller's IP address (`context`).

        The endpoint accepts API Keys (beginning `ak_`) and sub-licensed keys (beginning `sl_`), and needs no `user_token`.

        A key that exists but cannot be used, because it has no lookups left or has breached a limit, returns `200` with `"available": false`. An unknown or malformed key returns an error.

        Supply a valid `user_token` and the endpoint returns the key's private details instead, as `GET /keys/{key}/details` does. A `user_token` that does not own the key is rejected.
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '404':
          description: Invalid Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/keys/ak_test
        - lang: cURL
          label: curl
          source: |
            curl 'https://api.ideal-postcodes.co.uk/v1/keys/ak_test'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch('https://api.ideal-postcodes.co.uk/v1/keys/ak_test');

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get("https://api.ideal-postcodes.co.uk/v1/keys/ak_test")
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/keys/ak_test")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents("https://api.ideal-postcodes.co.uk/v1/keys/ak_test");
            $result = json_decode($response, true)["result"];
  /keys/{key}/details:
    get:
      tags:
        - Keys
      summary: Details
      operationId: KeyDetails
      description: 'Returns private data on a key: remaining lookups, licensed datasets, usage limits, notification settings and the search contexts the key can serve.'
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyDetailsResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details?user_token=uk_secret
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details' \
              -d 'user_token=uk_secret'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details?' +
              new URLSearchParams({
                user_token: 'uk_secret',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details",
                params={
                    "user_token": "uk_secret",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details")
            uri.query = URI.encode_www_form(user_token: "uk_secret")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details?" .
              http_build_query([
                "user_token" => "uk_secret",
              ])
            );
            $result = json_decode($response, true)["result"];
    put:
      tags:
        - Keys
      summary: Update Details
      description: Updates a key's settings and returns its private details. Only the fields you send change. A key on an unlimited plan ignores changes to `datasets`, `daily_limit` and `monthly_limit`.
      operationId: UpdateKeyDetails
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyDetailsEditable'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyDetailsResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: cURL
          label: curl
          source: |
            curl -X PUT 'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details?user_token=uk_secret' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "My Updated Key",
                "daily_limit": 1000,
                "notifications": {
                  "enabled": true
                }
              }'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch('https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details?user_token=uk_secret', {
              method: 'PUT',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({
                name: 'My Updated Key',
                daily_limit: 1000,
                notifications: {
                  enabled: true,
                },
              }),
            });

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.put(
                "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details",
                params={"user_token": "uk_secret"},
                json={
                    "name": "My Updated Key",
                    "daily_limit": 1000,
                    "notifications": {
                        "enabled": True,
                    },
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details?user_token=uk_secret")
            body = {
              name: "My Updated Key",
              daily_limit: 1000,
              notifications: {
                enabled: true,
              },
            }
            response = Net::HTTP.put(uri, body.to_json, "Content-Type" => "application/json")
            result = JSON.parse(response.body)["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $ch = curl_init("https://api.ideal-postcodes.co.uk/v1/keys/ak_test/details?user_token=uk_secret");
            curl_setopt_array($ch, [
              CURLOPT_CUSTOMREQUEST => "PUT",
              CURLOPT_HTTPHEADER => ["Content-Type: application/json"],
              CURLOPT_POSTFIELDS => json_encode([
                "name" => "My Updated Key",
                "daily_limit" => 1000,
                "notifications" => [
                  "enabled" => true,
                ],
              ]),
              CURLOPT_RETURNTRANSFER => true,
            ]);
            $result = json_decode(curl_exec($ch), true)["result"];
  /keys/{key}/usage:
    get:
      tags:
        - Keys
      summary: Usage Stats
      operationId: KeyUsage
      description: |
        Reports the number of lookups a key consumed over a date range, as a total and a daily breakdown.

        The range defaults to the last 21 days. `start` and `end` take UNIX timestamps in milliseconds, and `end` defaults to the current time. The maximum range is 90 days.

        Query at most three tags at once.
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
        - $ref: '#/components/parameters/StartParam'
        - $ref: '#/components/parameters/EndParam'
        - $ref: '#/components/parameters/TagsParam'
        - $ref: '#/components/parameters/LicenseeParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyUsageResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/keys/ak_test/usage?user_token=uk_secret
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/usage' \
              -d 'user_token=uk_secret'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/usage?' +
              new URLSearchParams({
                user_token: 'uk_secret',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/usage",
                params={
                    "user_token": "uk_secret",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/keys/ak_test/usage")
            uri.query = URI.encode_www_form(user_token: "uk_secret")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/usage?" .
              http_build_query([
                "user_token" => "uk_secret",
              ])
            );
            $result = json_decode($response, true)["result"];
  /keys/{key}/lookups:
    get:
      tags:
        - Keys
      summary: Logs (CSV)
      operationId: KeyLogs
      description: |
        Returns a CSV of the paid lookups made on a key, with the information recorded against each one.

        This method requires a `user_token`, which can be found on your [accounts page](https://account.ideal-postcodes.co.uk/account).

        You can request a maximum interval of 90 days. Without a start or end date, the interval defaults to the last 21 days.

        The `Content-Type` returned is CSV (text/csv). For a non-200 response it reverts to JSON, with the error code and message in the body.

        ## CSV Format

        The CSV has no header row. Columns, in order:

        1. Timestamp (ISO 8601)
        2. IP address the request was received from
        3. Search term
        4. URL the request originated from
        5. Lookup type
        6. Tags
        7. Lookups consumed
        8. Licensee name (sublicensing keys only)
        9. Source IP address

        The source IP column carries the address forwarded in the `IDPC-Source-IP` header. It is only recorded for keys with IP address forwarding enabled, and only when the header holds a valid IP address. It is empty otherwise.

        ## Data Redaction

        We redact Personally Identifiable Data (PII) in your usage log (including IP, source IP, search term and URL data) weekly.

        By default we redact PII older than 28 days. You can change this period from your dashboard.

        Set the interval to `0` days to prevent PII collection altogether.
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
        - $ref: '#/components/parameters/StartParam'
        - $ref: '#/components/parameters/EndParam'
        - $ref: '#/components/parameters/LicenseeParam'
      responses:
        '200':
          description: Success
          content:
            text/csv:
              example: |
                2015-02-21T16:05:22.991Z,82.85.128.18,SW12AA,https://www.example.com/,Postcode Lookup,,1,,
                2015-02-21T16:05:38.298Z,82.85.128.18,10 Downing Street London,https://www.example.com/,Address Lookup,CRM,1,,
                2015-02-21T16:06:49.227Z,82.85.128.18,OX44PP,https://www.example.com/,Postcode Lookup,"Website,Live",1,,203.0.113.44
                2015-02-21T16:07:02.706Z,82.85.128.18,PL9 9HE,https://www.example.com/,Postcode Lookup,,2,Acme Ltd,203.0.113.44
              schema:
                type: string
                description: Success
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/keys/ak_test/lookups?user_token=uk_secret
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/lookups' \
              -d 'user_token=uk_secret'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/lookups?' +
              new URLSearchParams({
                user_token: 'uk_secret',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/lookups",
                params={
                    "user_token": "uk_secret",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/keys/ak_test/lookups")
            uri.query = URI.encode_www_form(user_token: "uk_secret")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/lookups?" .
              http_build_query([
                "user_token" => "uk_secret",
              ])
            );
            $result = json_decode($response, true)["result"];
  /cleanse/addresses:
    post:
      tags:
        - UK
      summary: Cleanse Address
      description: |
        Returns the closest matching address for a freeform address input, with Match Level indicators describing how closely each element of the suggested address matches the input. The more impaired the input address, the harder it is to cleanse.

        A cleanse that returns a match costs a lookup. A no-match response is free.

        ## Confidence Score

        Each incorrect, missing or misspelled element subtracts from the overall confidence score.

        ### Deciding on an Acceptable Confidence Score Threshold

        Inputs differ widely between address cleanse projects. Within a project, though, they tend to repeat the same errors. Some datasets are keyed in by hand and prone to typos. Others have a persistently missing datapoint such as organisation name or postcode. There is no absolute Confidence Score threshold. Set the acceptable score project by project, based on the systematic errors in the data and your business goals.

        To set a threshold, load a subset of the dataset into a spreadsheet application like Excel and sort on the score. Scrolling from top to bottom shows matches from best to worst. As you reach the lower quality searches you can judge roughly:

        - Which confidence scores indicate ambiguous matches (i.e. up to building level only)
        - Which confidence scores indicate a poor or no match (i.e. the nearest matching address is too far from the input address)

        Depending on your business goals, you can also use the Match Levels to determine an acceptable match. You may need to match only up to the thoroughfare or building name, or accurate organisation names may matter.
      operationId: AddressCleanse
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TagsParam'
        - name: context
          in: query
          schema:
            type: string
          description: |
            Identify the country of the address to cleanse. Defaults to UK (GBR)
          example: gbr
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: |
                    Freeform address input to cleanse
                  example: 10 Downing Street, London, SW2A 2BN
                postcode:
                  type: string
                  description: |
                    Optionally specify the postal code for the address.
                  example: SW1A 2BN
                post_town:
                  type: string
                  description: |
                    Optionally specify the city or town of the address.

                    This should be the "post town" of the address.
                  example: London
                county:
                  type: string
                  description: |
                    Optionally specify the county of the address.

                    We recommend omitting this field as county data is unreliable.
                  example: Kent
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CleanseResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: cURL
          label: curl
          source: |
            curl -X POST 'https://api.ideal-postcodes.co.uk/v1/cleanse/addresses' \
              -H 'Authorization: api_key="ak_test"' \
              -H 'Content-Type: application/json' \
              -d '{
                "query": "10 downing street sw1a"
              }'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch('https://api.ideal-postcodes.co.uk/v1/cleanse/addresses', {
              method: 'POST',
              headers: {
                'Authorization': 'api_key="ak_test"',
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                query: '10 downing street sw1a',
              }),
            });

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.post(
                "https://api.ideal-postcodes.co.uk/v1/cleanse/addresses",
                headers={"Authorization": 'api_key="ak_test"'},
                json={
                    "query": "10 downing street sw1a",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/cleanse/addresses")
            body = {
              query: "10 downing street sw1a",
            }
            response = Net::HTTP.post(uri, body.to_json, "Authorization" => 'api_key="ak_test"', "Content-Type" => "application/json")
            result = JSON.parse(response.body)["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $ch = curl_init("https://api.ideal-postcodes.co.uk/v1/cleanse/addresses");
            curl_setopt_array($ch, [
              CURLOPT_POST => true,
              CURLOPT_HTTPHEADER => ['Authorization: api_key="ak_test"', "Content-Type: application/json"],
              CURLOPT_POSTFIELDS => json_encode([
                "query" => "10 downing street sw1a",
              ]),
              CURLOPT_RETURNTRANSFER => true,
            ]);
            $result = json_decode(curl_exec($ch), true)["result"];
  /autocomplete/addresses:
    get:
      tags:
        - Address Search
      summary: Find Address
      description: |
        Returns address suggestions for a partial address, ordered by relevance. Use it to power real-time address autofill.

        Consider our address autocomplete JavaScript libraries, which add address lookup to a form without calling this API directly.

        ## API Usage

        Implementing our Address Autocomplete API involves:

        1. Fetch address suggestions with `/autocomplete/addresses`
        2. Acquire the complete address using the ID from the suggestion

        Step 2 decrements your lookup balance.

        Step 1 is not a free standalone resource. We rate limit and then suspend integrations that repeatedly make autocomplete requests without a paid Step 2 request.

        ## Context

        `context` limits the search, usually to a single country. It defaults to `GBR`, and an unrecognised context falls back to that default. If your key is not licensed for the datasets covering the context, the request is rejected.

        Querying a full postcode within a supported context returns the entire address list for that postcode.

        ## Query Filters

        Refine results by appending filters to your querystring, e.g. `postcode=sw1a2aa` for postcode `SW1A 2AA`. Invalid filters return an empty set without affecting your lookup count.

        To apply multiple filter terms, use a comma-separated list, e.g. `postcode_outward=e1,e2,e3` combines result sets for E1, E2 and E3. Unless otherwise specified, all filters support multiple terms.

        Filters combine with `AND` logic, for instance `su_organisation_indicator=Y&postcode_area=n`. The maximum is **8** filter terms.

        ## Address Bias

        Preface bias searches with `bias_` to boost certain address results. Unlike filters, biasing allows unmatched addresses to appear with lower priority.

        For example, use `bias_postcode_area=SW,SE` to favour addresses in the `SW` and `SE` postcode areas. Invalid bias terms have no effect.

        Multiple bias terms are allowed unless stated otherwise, with a combined maximum of **5**.

        ## Suggestion Format

        The suggestion format is subject to change. We recommend using the suggestion as-is to avoid integration issues.

        ## Rate Limiting and Cost

        The default rate limit is 3,000 requests per 5 minutes, counted per key and IP address. The `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` headers report where you stand.

        Autocomplete API usage does not impact your balance, but resolving a suggestion to a full address requires a paid request. Autocomplete requests without subsequent paid requests may lead to rate limiting or suspension.
      operationId: FindAddress
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - name: query
          description: |
            **Address Query**

            The partial address string entered by the user to autocomplete.
          example: 10 downing street lo
          explode: false
          in: query
          schema:
            type: string
            maxLength: 150
          style: form
        - $ref: '#/components/parameters/DatasetParam'
        - $ref: '#/components/parameters/ContextParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/BiasLonLatParam'
        - $ref: '#/components/parameters/BiasIpParam'
        - $ref: '#/components/parameters/BoxParam'
        - $ref: '#/components/parameters/PostcodeOutwardParam'
        - $ref: '#/components/parameters/PostcodeParam'
        - $ref: '#/components/parameters/PostcodeAreaParam'
        - $ref: '#/components/parameters/PostcodeSectorParam'
        - $ref: '#/components/parameters/PostTownParam'
        - $ref: '#/components/parameters/UPRNParam'
        - $ref: '#/components/parameters/CountryParam'
        - $ref: '#/components/parameters/PostcodeTypeParam'
        - $ref: '#/components/parameters/SmallUserParam'
        - $ref: '#/components/parameters/BiasPostcodeOutwardParam'
        - $ref: '#/components/parameters/BiasPostcodeParam'
        - $ref: '#/components/parameters/BiasPostcodeAreaParam'
        - $ref: '#/components/parameters/BiasPostcodeSectorParam'
        - $ref: '#/components/parameters/BiasPosttownParam'
        - $ref: '#/components/parameters/BiasThoroughfareParam'
        - $ref: '#/components/parameters/BiasCountryParam'
        - $ref: '#/components/parameters/PostalCodeParam'
        - $ref: '#/components/parameters/PostalCode2Param'
        - $ref: '#/components/parameters/PostalCode3Param'
        - $ref: '#/components/parameters/CityParam'
        - $ref: '#/components/parameters/StateParam'
        - $ref: '#/components/parameters/StateCodeParam'
        - $ref: '#/components/parameters/BiasPostalCodeParam'
        - $ref: '#/components/parameters/BiasPostalCode2Param'
        - $ref: '#/components/parameters/BiasPostalCode3Param'
        - $ref: '#/components/parameters/BiasCityParam'
        - $ref: '#/components/parameters/BiasStateParam'
        - $ref: '#/components/parameters/BiasStateCodeParam'
        - $ref: '#/components/parameters/IsPoboxParam'
        - $ref: '#/components/parameters/IsBusinessParam'
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests that can be made in 5 minutes
              schema:
                type: number
                format: int32
            X-RateLimit-Remaining:
              description: The remaining requests within the current rate limit window
              schema:
                type: number
                format: int32
            X-RateLimit-Reset:
              description: |
                The time when the rate limit window resets in Unix Time (seconds) or UTC Epoch seconds.
              schema:
                type: number
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteResponse'
              examples:
                GBR:
                  summary: Example response for GBR context
                  value:
                    result:
                      hits:
                        - id: paf_23747771
                          suggestion: Prime Minister & First Lord Of The Treasury, 10 Downing Street, London, SW1A
                          udprn: 23747771
                          urls:
                            udprn: /v1/udprn/23747771
                        - id: paf_26245117
                          suggestion: Flat 10, Downing Court, Grenville Street, London, WC1N
                          udprn: 26245117
                          urls:
                            udprn: /v1/udprn/26245117
                    code: 2000
                    message: Success
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses?api_key=ak_test&query=10 downing
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses' \
              -d 'api_key=ak_test' \
              --data-urlencode 'query=10 downing'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses?' +
              new URLSearchParams({
                api_key: 'ak_test',
                query: '10 downing',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses",
                params={
                    "api_key": "ak_test",
                    "query": "10 downing",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses")
            uri.query = URI.encode_www_form(api_key: "ak_test", query: "10 downing")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses?" .
              http_build_query([
                "api_key" => "ak_test",
                "query" => "10 downing",
              ])
            );
            $result = json_decode($response, true)["result"];
  /autocomplete/addresses/{address}/gbr:
    get:
      tags:
        - Address Search
      summary: Resolve Address
      operationId: ResolveAddress
      description: |
        Returns the complete address for an autocomplete suggestion, identified by its address ID.

        This is the step of the autocomplete flow that costs a lookup. Fetching suggestions is free.

        The API returns resolved addresses, including addresses outside the UK, in a UK format (up to 3 address lines) using UK nomenclature such as postcode and county.

        An ID that matches no address returns `404`.
      parameters:
        - name: address
          in: path
          description: |
            **ID of address suggestion**

            ID of address suggestion provided by the API to fully resolve.
          required: true
          style: simple
          explode: false
          example: paf_23747771
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TagsParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GbrResolveAddressResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/paf_23747771/gbr?api_key=ak_test
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/paf_23747771/gbr' \
              -d 'api_key=ak_test'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/paf_23747771/gbr?' +
              new URLSearchParams({
                api_key: 'ak_test',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/paf_23747771/gbr",
                params={
                    "api_key": "ak_test",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/paf_23747771/gbr")
            uri.query = URI.encode_www_form(api_key: "ak_test")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/paf_23747771/gbr?" .
              http_build_query([
                "api_key" => "ak_test",
              ])
            );
            $result = json_decode($response, true)["result"];
  /addresses:
    get:
      tags:
        - UK
      summary: Extract Addresses
      description: |
        Returns a list of UK addresses matching the query, ordered by relevance score. `limit` defaults to 10 and caps at 100. `page` defaults to 0.

        You may only extract a single address from each request. To extract multiple addresses, you must perform an individual request for each address.

        If the query is a valid postcode, the API returns the whole address list for that postcode and raises the limit to 100. Use `page` to reach the rest of a postcode holding more than 100 premises. You cannot page beyond 10,000 results.

        Your key needs at least one of PAF, Multiple Residence, Not Yet Built, PAF Alias, PAF Welsh, AddressBase or AddressBase Premium. Without one the request is rejected.

        A request that returns at least one address costs a lookup. Empty result sets are free.

        ## Reverse Geocoding

        Return the addresses around a point with the `lon=` and `lat=` querystring arguments. The search radius is 100m and the API sorts addresses by distance from the point.

        ## Filters

        Narrow your results by adding filters to your query string that correspond with an address attribute.

        For instance, you can restrict to postcode `SW1A 2AA` by appending `postcode=sw1a2aa`.

        If a filter term is invalid, e.g. `postcode=SW1A2AAA`, the API returns an empty result set and charges no lookup.

        You can also scope using multiple terms for the same filter with a comma separated list of terms. E.g. Restrict results to E1, E2 and E3 outward codes: `postcode_outward=e1,e2,e3`. Multiple terms are `OR`'ed, i.e. the matching result sets are combined.

        All filters can accept multiple terms unless stated otherwise below.

        Multiple filters can also be combined. E.g. Restrict results to small user organisations in the N postcode area: `su_organisation_indicator=Y&postcode_area=n`. Multiple filters are `AND`'ed, i.e. each additional filter narrows the result set.

        A combined maximum of 8 terms is allowed across all filters.

        ## Biases

        You can boost address results that correspond with a given address attribute. All bias searches are prefixed with `bias_`.

        Biased searches, unlike filtered searches, still allow unmatched addresses to appear. They rank lower.

        For instance, you can boost addresses with postcode areas `SW` and `SE` by appending `bias_postcode_area=SW,SE`.

        If a bias term is invalid, e.g. `bias_postcode=SW1A2AAA`, no bias is applied.

        You may scope using multiple terms for the same bias with a comma separated list of terms. E.g. Prefer results in the `E1`, `E2` and `E3` outward codes: `bias_postcode_outward=e1,e2,e3`.

        All biases can accept multiple terms unless stated otherwise below.

        A combined maximum of 5 terms is allowed across all biases.

        ## Search by Postcode and Building Name or Number

        Search by postcode and building attribute with the postcode filter and query argument. E.g. For "SW1A 2AA Prime Minister" `/v1/addresses?postcode=sw1a2aa&q=prime minister`.

        Using a filter means a postcode mismatch returns no results and costs no lookup.

        ### Search by UPRN

        Search by UPRN using the `uprn` filter and excluding the query argument. E.g. `/v1/addresses?uprn=100`.

        ## Testing

        - **ID1 1QD** Returns a successful query response `2000`
        - **ID1 KFA** Returns an empty query response `2000`
        - **ID1 CLIP** Returns "no lookups remaining" error `4020`
        - **ID1 CHOP** Returns "daily (or individual) lookup limit breached" error `4021`

        Test requests undergo the usual authentication and restriction rules. They surface any issues during implementation and do not cost you a lookup.
      operationId: Addresses
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - name: query
          in: query
          description: Specifies the address to query.
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/AddressLongitudeParam'
        - $ref: '#/components/parameters/AddressLatitudeParam'
        - $ref: '#/components/parameters/PostcodeOutwardParam'
        - $ref: '#/components/parameters/PostcodeParam'
        - $ref: '#/components/parameters/PostcodeAreaParam'
        - $ref: '#/components/parameters/PostcodeSectorParam'
        - $ref: '#/components/parameters/PostTownParam'
        - $ref: '#/components/parameters/UPRNParam'
        - $ref: '#/components/parameters/CountryParam'
        - $ref: '#/components/parameters/PostcodeTypeParam'
        - $ref: '#/components/parameters/SmallUserParam'
        - $ref: '#/components/parameters/BoxParam'
        - $ref: '#/components/parameters/BiasPostcodeOutwardParam'
        - $ref: '#/components/parameters/BiasPostcodeParam'
        - $ref: '#/components/parameters/BiasPostcodeAreaParam'
        - $ref: '#/components/parameters/BiasPostcodeSectorParam'
        - $ref: '#/components/parameters/BiasPosttownParam'
        - $ref: '#/components/parameters/BiasThoroughfareParam'
        - $ref: '#/components/parameters/BiasCountryParam'
        - $ref: '#/components/parameters/BiasLonLatParam'
        - $ref: '#/components/parameters/TagsParam'
        - $ref: '#/components/parameters/DatasetParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
        '404':
          description: Postcode Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeNotFoundResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/addresses?api_key=ak_test&query=10 downing street london
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/addresses' \
              -d 'api_key=ak_test' \
              --data-urlencode 'query=10 downing street london'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/addresses?' +
              new URLSearchParams({
                api_key: 'ak_test',
                query: '10 downing street london',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/addresses",
                params={
                    "api_key": "ak_test",
                    "query": "10 downing street london",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/addresses")
            uri.query = URI.encode_www_form(api_key: "ak_test", query: "10 downing street london")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/addresses?" .
              http_build_query([
                "api_key" => "ak_test",
                "query" => "10 downing street london",
              ])
            );
            $result = json_decode($response, true)["result"];
  /places:
    get:
      tags:
        - Place Search
      summary: Find Place
      description: |
        Returns place suggestions for a query, ranked by relevance. Places cover countries, administrative areas, capitals and other administrative seats.

        ## Implementing Place Autocomplete

        Retrieving a full place takes two requests:

        1. Fetch suggestions from `/places`
        2. Fetch the place using the `id` on a suggestion

        A query returns at most 10 suggestions. An empty query returns an empty result set. Show users the `descriptive_name`. The API drops suggestions that share one, so each name in a response identifies a single place.

        ## Rate Limiting and Cost

        The rate limit is 3,000 requests per 5 minutes.

        `/places` does not decrement your lookup balance, but resolving a suggestion to a full place does. We rate limit and then suspend integrations that repeatedly call `/places` without resolving.
      operationId: FindPlace
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - name: query
          in: query
          description: Specifies the place to query. Can be shortened to `q=`
          style: form
          explode: false
          schema:
            type: string
          allowReserved: true
        - $ref: '#/components/parameters/CountryIsoParam'
        - $ref: '#/components/parameters/BiasCountryIsoParam'
        - $ref: '#/components/parameters/BiasLonLatParam'
        - $ref: '#/components/parameters/BiasIpParam'
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests that can be made in 5 minutes
              schema:
                type: number
                format: int32
            X-RateLimit-Remaining:
              description: The remaining requests within the current rate limit window
              schema:
                type: number
                format: int32
            X-RateLimit-Reset:
              description: |
                The time when the rate limit window resets in Unix Time (seconds) or UTC Epoch seconds.
              schema:
                type: number
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
              examples:
                Result:
                  value:
                    result:
                      hits:
                        - id: geonames_2643743
                          name: London
                          descriptive_name: London, Greater London, England
                          country_iso: GBR
                        - id: geonames_4517009
                          name: London
                          descriptive_name: London, Madison County, Ohio
                          country_iso: USA
                        - id: geonames_4298960
                          name: London
                          descriptive_name: London, Laurel County, Kentucky
                          country_iso: USA
                    code: 2000
                    message: Success
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/places?api_key=ak_test&query=london
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/places' \
              -d 'api_key=ak_test' \
              -d 'query=london'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/places?' +
              new URLSearchParams({
                api_key: 'ak_test',
                query: 'london',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/places",
                params={
                    "api_key": "ak_test",
                    "query": "london",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/places")
            uri.query = URI.encode_www_form(api_key: "ak_test", query: "london")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/places?" .
              http_build_query([
                "api_key" => "ak_test",
                "query" => "london",
              ])
            );
            $result = json_decode($response, true)["result"];
  /places/{place}:
    get:
      tags:
        - Place Search
      summary: Resolve Place
      operationId: ResolvePlace
      description: |
        Returns the full place for a place ID taken from a `/places` suggestion.

        On top of the fields carried by the suggestion, the response adds coordinates, language and the underlying dataset record.

        Each request decrements your lookup balance. An unknown ID returns `404`.
      parameters:
        - name: place
          in: path
          description: ID of place suggestion
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TagsParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolvePlaceResponse'
              examples:
                Valid Place:
                  value:
                    result:
                      id: geonames_2643743
                      dataset: geonames
                      name: London
                      descriptive_name: London, Greater London, England
                      language: en
                      longitude: -0.12574
                      latitude: 51.50853
                      country_iso: GBR
                      native:
                        admin1_code: ENG
                        admin2_name: Greater London
                        geonameid: 2643743
                        timezone: Europe/London
                        latitude: 51.50853
                        language: en
                        dem: 25
                        admin4_code: ''
                        admin1_geonameid: 6269131
                        alternatenames:
                          - ILondon
                          - LON
                          - Lakana
                          - Landan
                          - Landen
                          - Ljondan
                          - Llundain
                          - Lodoni
                          - Londain
                          - Londan
                          - Londar
                          - Londe
                          - Londen
                          - Londin
                          - Londinium
                          - Londino
                          - Londn
                          - London
                          - London osh
                          - Londona
                          - Londonas
                          - Londoni
                          - Londono
                          - Londons
                          - Londonu
                          - Londra
                          - Londres
                          - Londrez
                          - Londri
                          - Londro
                          - Londye
                          - Londyn
                          - Londýn
                          - Lonn
                          - Lontoo
                          - Loundres
                          - Luan GJon
                          - Lun-tun
                          - Lunden
                          - Lundra
                          - Lundun
                          - Lundunir
                          - Lundúnir
                          - Lung-dung
                          - Lunnainn
                          - Lunnin
                          - Lunnon
                          - Luân Đôn
                          - Lùn-tûn
                          - Lùng-dŭng
                          - Lûn-tun
                          - Lākana
                          - Lůndůn
                          - Lọndọnu
                          - Ranana
                          - Rānana
                          - ilantan
                          - ladana
                          - landan
                          - landana
                          - leondeon
                          - lndn
                          - london
                          - londoni
                          - lun dui
                          - lun dun
                          - lwndwn
                          - lxndxn
                          - rondon
                          - Łondra
                          - Λονδίνο
                          - Лондан
                          - Лондон
                          - Лондон ош
                          - Лондонъ
                          - Лёндан
                          - Լոնդոն
                          - לאנדאן
                          - לונדון
                          - لأندأن
                          - لندن
                          - لوندون
                          - لەندەن
                          - ܠܘܢܕܘܢ
                          - लंडन
                          - लंदन
                          - लण्डन
                          - लन्डन्
                          - लन्दन
                          - লন্ডন
                          - ਲੰਡਨ
                          - લંડન
                          - ଲ୍ଡନ
                          - இலண்டன்
                          - లండన్
                          - ಲಂಡನ್
                          - ലണ്ടൻ
                          - ලන්ඩන්
                          - ลอนดอน
                          - ລອນດອນ
                          - ལོན་ཊོན།
                          - လန်ဒန်မြို့
                          - ლონდონი
                          - ለንደን
                          - ᎫᎴ ᏗᏍᎪᏂᎯᏱ
                          - ロンドン
                          - 伦敦
                          - 倫敦
                          - 런던
                        cc2: []
                        admin2_code: GLA
                        modification_date: '2022-03-09T00:00:00.000Z'
                        asciiname: London
                        id: geonames_2643743
                        feature_code: PPLC
                        country_iso: GBR
                        longitude: -0.12574
                        elevation: null
                        admin2_geonameid: 2648110
                        admin1_name: England
                        population: '8961989'
                        country_code: GB
                        feature_class: P
                        name: London
                        admin3_code: ''
                        dataset: geonames
                    code: 2000
                    message: Success
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/places/geonames_5353?api_key=ak_test
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/places/geonames_5353' \
              -d 'api_key=ak_test'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/places/geonames_5353?' +
              new URLSearchParams({
                api_key: 'ak_test',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/places/geonames_5353",
                params={
                    "api_key": "ak_test",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/places/geonames_5353")
            uri.query = URI.encode_www_form(api_key: "ak_test")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/places/geonames_5353?" .
              http_build_query([
                "api_key" => "ak_test",
              ])
            );
            $result = json_decode($response, true)["result"];
  /keys/{key}/licensees:
    get:
      tags:
        - Licensees
      summary: List
      description: Returns a key's licensees, oldest first, up to 100 per request. The list omits cancelled licensees. The key must be enabled for sub-licensing.
      operationId: ListLicensees
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - name: starting_after
          in: query
          description: ID of the licensee after which to list results
          style: form
          explode: false
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/UserTokenParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: query
          in: query
          description: Filter results by licensee name. Can be shortened to `q=`
          style: form
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseesResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees?user_token=uk_secret
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees' \
              -d 'user_token=uk_secret'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees?' +
              new URLSearchParams({
                user_token: 'uk_secret',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees",
                params={
                    "user_token": "uk_secret",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees")
            uri.query = URI.encode_www_form(user_token: "uk_secret")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $response = file_get_contents(
              "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees?" .
              http_build_query([
                "user_token" => "uk_secret",
              ])
            );
            $result = json_decode($response, true)["result"];
    post:
      tags:
        - Licensees
      summary: Create
      description: Creates a licensee on a key and returns it with its generated `sl_` key. The key must be enabled for sub-licensing.
      operationId: CreateLicensee
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseeEditable'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseeResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: cURL
          label: curl
          source: |
            curl -X POST 'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees?user_token=uk_secret' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Qwerty Widgets Limited",
                "address": "12 High Street, Manchester",
                "postcode": "ID1 1QD",
                "whitelist": [],
                "daily": {
                  "limit": 10000
                }
              }'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch('https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees?user_token=uk_secret', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({
                name: 'Qwerty Widgets Limited',
                address: '12 High Street, Manchester',
                postcode: 'ID1 1QD',
                whitelist: [],
                daily: {
                  limit: 10000,
                },
              }),
            });

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.post(
                "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees",
                params={"user_token": "uk_secret"},
                json={
                    "name": "Qwerty Widgets Limited",
                    "address": "12 High Street, Manchester",
                    "postcode": "ID1 1QD",
                    "whitelist": [],
                    "daily": {
                        "limit": 10000,
                    },
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees?user_token=uk_secret")
            body = {
              name: "Qwerty Widgets Limited",
              address: "12 High Street, Manchester",
              postcode: "ID1 1QD",
              whitelist: [],
              daily: {
                limit: 10000,
              },
            }
            response = Net::HTTP.post(uri, body.to_json, "Content-Type" => "application/json")
            result = JSON.parse(response.body)["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
            $ch = curl_init("https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees?user_token=uk_secret");
            curl_setopt_array($ch, [
              CURLOPT_POST => true,
              CURLOPT_HTTPHEADER => ["Content-Type: application/json"],
              CURLOPT_POSTFIELDS => json_encode([
                "name" => "Qwerty Widgets Limited",
                "address" => "12 High Street, Manchester",
                "postcode" => "ID1 1QD",
                "whitelist" => [],
                "daily" => [
                  "limit" => 10000,
                ],
              ]),
              CURLOPT_RETURNTRANSFER => true,
            ]);
            $result = json_decode(curl_exec($ch), true)["result"];
  /keys/{key}/licensees/{licensee}:
    get:
      tags:
        - Licensees
      summary: Retrieve
      description: Returns a licensee by its `sl_` key. A cancelled or unknown licensee returns `404`.
      operationId: RetrieveLicensee
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/LicenseePathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseeResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees/sl_ijoiqsxeQgXW2gkiE0X94?user_token=uk_secret
        - lang: cURL
          label: curl
          source: |
            curl -G 'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees/sl_ijoiqsxeQgXW2gkiE0X94' \
              -d 'user_token=uk_secret'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              'https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees/sl_ijoiqsxeQgXW2gkiE0X94?' +
              new URLSearchParams({
                user_token: 'uk_secret',
              })
            );

            const { result } = await response.json();
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees/sl_ijoiqsxeQgXW2gkiE0X94",
                params={
                    "user_token": "uk_secret",
                },
            )
            result = response.json()["result"]
        - lang: Ruby
          label: Ruby
          source: |
            require "net/http"
            require "json"

            uri = URI("https://api.ideal-postcodes.co.uk/v1/keys/ak_test/licensees/sl_ijoiqsxeQgXW2gkiE0X94")
            uri.query = URI.encode_www_form(user_token: "uk_secret")
            result = JSON.parse(Net::HTTP.get(uri))["result"]
        - lang: PHP
          label: PHP
          source: |
            <?php
[...]
