openapi: 3.0.3
info:
  version: 4.11.0
  license:
    name: AGPLv3
    url: https://opensource.org/licenses/AGPL-3.0
  title: API Reference
  termsOfService: https://terms.ideal-postcodes.co.uk
  description: |
    ## Getting Started

    All API methods are either a `GET`, `POST` or `OPTIONS` request.

    The API communicates over both HTTPS and plain HTTP using IPv4 and IPv6.

    We recommend using HTTPS only although HTTP is available.

    We use appropriate HTTP status codes where possible to indicate the request status.

    ## OpenAPI Spec

    Our OpenAPI specification is available at:

    - [Github Repository](https://github.com/ideal-postcodes/openapi)
    - [API Reference](https://openapi.ideal-postcodes.co.uk)
    - [OpenAPI v3 JSON File](https://openapi.ideal-postcodes.co.uk/openapi.json)
    - [OpenAPI v3 YAML File](https://openapi.ideal-postcodes.co.uk/openapi.yaml)
    - [NPM Package](https://www.npmjs.com/package/@ideal-postcodes/openapi)

    ## Rate Limiting

    Each IP address is rate limited at 30 requests per second. Tripping the rate limit will result in a 503 response.

    The autocomplete API also has an additional rate limit.

    If you expect to breach the limit please contact us and we can move you to an endpoint with a higher limit.

    ## Authentication

    Most requests require an **API key** for authentication. Authenticate by passing an `api_key` as part of the query string. For example:

    ```
    api.ideal-postcodes.co.uk/v1/autocomplete/addresses?api_key=iddqd&q=parkside
    ```

    Alternatively, authentication can be transmitted via the `Authorization` header using the following scheme:

    ```
    Authorization: api_key="iddqd" [other_key="foo"]
    ```

    ## Versioning

    This API is versioned with a simple prefix in the URL. The current version is `/v1/`. We will maintain backwards-compatibility by releasing breaking changes under a new version.

    Please note that the following changes are backwards-compatible:

    - Adding new properties to existing API responses
    - Adding new API endpoints
    - Adding new optional request parameters to existing API endpoints
    - Changing the order of properties in existing API responses
    - Changing the autocomplete address suggestion format

    ## Error Handling

    A successful lookup is accompanied with a HTTP status code of 200 and a response code of 2000 (found in the body).

    An error has occurred if the HTTP status code is not 200. Errors can range from a benign 404 (resource not found) to more urgent errors (your API Key ran out of credit, failed authentication, etc).

    ## Testing

    Each new account comes with a free test balance. Contact us if you need more for testing and integration.

    ## Metadata

    Requests that affect your balance may be annotated with arbitrary metadata. This data is stored along with your lookup history and can be queried at a later date via the API or the dashboard. We call the ability to label your requests [tagging](https://docs.ideal-postcodes.co.uk/docs/guides/tags).

    ## Response Codes

    The API returns two indicators to help you to determine the status of each HTTP request.

    The first is the **HTTP Status**, which is found in the status-line of all HTTP requests. The API will return status codes that adhere to HTTP /1.1 Specifications wherever possible.

    `2XX` status codes indicates success while `4XX` and `5XX` indicate client and server errors respectively.

    The second is the **API response code**, which can be found in the `code` property of the response body. This code will provide a more specific reason if a failure has occurred and can point you in the right direction when debugging.
  contact:
    email: support@ideal-postcodes.co.uk
    name: Support
    url: https://ideal-postcodes.co.uk/support
servers:
  - url: https://api.ideal-postcodes.co.uk/v1
    description: API Server
    variables: {}
tags:
  - name: Address Search
    description: Global address autocomplete, for search-as-you-type
  - name: Place Search
    description: Global places search to identify geographical names and places
  - name: UK
    description: UK Address and Postcode Search
  - name: Keys
    description: Monitor and manage API Keys
  - name: Licensees
    description: |
      The Licensee resource represents an alternate legal End User of our data who may not be the same entity as the owners of the account.

      The concept of Licensees underpins our sublicensing platform, which allows users to license multiple external organisations or individuals to access data under the same account.

      Sublicensing is ideal for platform vendors, who provide services to multiple clients who in turn each have their own users.
  - name: Configs
    description: |
      The Config resource allows users to assign serialised configuration data to API Keys. The payloads assigned to a Config object can later be retrieved to dynamically configure your integration.

      Useful if you need to configure your integration remotely rather than editing code in situ.
  - name: suggestion
    x-displayName: Address Suggestion
    description: |
      Address Suggestions are simple, human readable representations of an address. This format is sufficient tfor a user to determine an address match in an address autocomplete interface. A second request must be made to the API to gather fully validated address.

      See our Address Search APIs for more information on address autocompletion.

      <SchemaDefinition schemaRef="#/components/schemas/AddressSuggestion" />
  - name: usps_address
    x-displayName: US Address
    description: |
      Standard US Address format as reported by USPS.

      <SchemaDefinition schemaRef="#/components/schemas/UspsAddress" />
  - name: uk_address
    x-displayName: UK Address
    description: |
      Standard UK Address format as reported by Royal Mail's Postcode Address File (PAF). PAF is the most complete and up-to-date address database in the UK.

      <SchemaDefinition schemaRef="#/components/schemas/PafAddress" />
  - name: ecaf_address
    x-displayName: IE Address
    description: |
      Standard Republic of Ireland Address format as reported by the Eircode ECAF file.

      <SchemaDefinition schemaRef="#/components/schemas/EcafAddress" />
  - name: ecad_address
    x-displayName: IE Address (ECAD)
    description: |
      ECAF file including additional data for each address.

      <SchemaDefinition schemaRef="#/components/schemas/EcadAddress" />
  - name: ab_address
    x-displayName: AddressBase Core
    description: |
      AddressBase Core Address. An alternative to UK PAF dataset from Ordnance Survey.

      Please contact us to have this enabled on your account.

      <SchemaDefinition schemaRef="#/components/schemas/AddressBaseCore" />
  - name: geonames_place
    x-displayName: GeoNames Place
    description: |
      GeoNames place record

      <SchemaDefinition schemaRef="#/components/schemas/GeonamesPlace" />
externalDocs:
  description: More on our APIs, libraries with guides and examples
  url: https://docs.ideal-postcodes.co.uk
paths:
  /postcodes/{postcode}:
    get:
      tags:
        - UK
      summary: Lookup Postcode
      operationId: Postcodes
      description: |
        Returns the complete list of addresses for a postcode. Postcode searches are space and case insensitive.

        The Postcode Lookup API provides a JSON interface to search UK addresses from a postcode. It can be used to power Postcode Lookup driven address searches, like [Postcode Lookup](/postcode-lookup).

        ## Postcode Not Found

        Lookup balance is unaffected by invalid postcodes. The API returns a `404` response with response body:

        ```json
        {
          "code": 4040,
          "message": "Postcode not found",
          "suggestions": ["SW1A 0AA"]
        }
        ```

        ### Suggestions

        If a postcode cannot be found, the API will provide up to 5 closest matching postcodes. Common errors will be corrected first (e.g. mixing up `O` and `0` or `I` and `1`).

        If the suggestion list is small (fewer than 3), there is a high probability the correct postcode is there. You may notify the user or immediately trigger new searches.

        The suggestion list will be empty if the postcode has deviated too far from a valid postcode format.

        ## Multiple Residence

        A small number of postcodes will return more than 100 premises. These may require pagination. Use `page` to paginate the result set.
      parameters:
        - name: postcode
          in: path
          description: Postcode to retrieve
          required: true
          style: simple
          explode: false
          example: SW1A 2AA
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/TagsParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeResponse'
              examples:
                Postcode Found:
                  value:
                    result:
                      - postcode: SW1A 2AA
                        postcode_inward: 2AA
                        postcode_outward: SW1A
                        post_town: London
                        dependant_locality: ''
                        double_dependant_locality: ''
                        thoroughfare: Downing Street
                        dependant_thoroughfare: ''
                        building_number: '10'
                        building_name: ''
                        sub_building_name: ''
                        po_box: ''
                        department_name: ''
                        organisation_name: Prime Minister & First Lord Of The Treasury
                        udprn: 23747771
                        postcode_type: L
                        su_organisation_indicator: ''
                        delivery_point_suffix: 1A
                        line_1: Prime Minister & First Lord Of The Treasury
                        line_2: 10 Downing Street
                        line_3: ''
                        premise: '10'
                        longitude: -0.12767
                        latitude: 51.503541
                        eastings: 530047
                        northings: 179951
                        country: England
                        traditional_county: Greater London
                        administrative_county: ''
                        postal_county: London
                        county: London
                        district: Westminster
                        ward: St. James's
                        uprn: '100023336956'
                        id: paf_23747771
                        country_iso: GBR
                        country_iso_2: GB
                        county_code: ''
                        language: en
                        umprn: ''
                        dataset: paf
                    code: 2000
                    message: Success
                    limit: 100
                    page: 0
                    total: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '404':
          description: Postcode Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeNotFoundResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/postcodes/SW1A2AA?api_key=iddqd
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.ideal-postcodes.co.uk/v1/postcodes/SW1A2AA' \
            --d "api_key=iddqd"
  /udprn/{udprn}:
    get:
      tags:
        - UK
      summary: Retrieve by UDPRN
      operationId: UDPRN
      description: |
        Returns an address as identified by its Unique Delivery Point Reference Number (UDPRN).

        You may find it useful to store UDPRN information as it can be used to retrieve the most recent information for an address. It can also be used to test for a deleted address.

        UDPRNs are an eight digit unique numeric code (e.g. `25962203`) for any premise on the Postcode Address File. It's essentially a unique identifier for every address in the UK that Royal Mail has in its database.

        ## Testing

        To test your implementation of our API we have a range of test UDPRNs that yield both successful and unsuccessful responses to your request.

        They are the following:

        - `0` Returns a successful UDPRN lookup response
          `2000`
        - `-1` Returns "UDPRN not found", error `4044`
        - `-2` Returns "no lookups remaining", error `4020`
        - `-3` Returns "daily (or individual) lookup limit breached",
          error `4021`

        Test request undergo the usual authentication and restriction rules. This is to help surface any issues that occur during implementation and does not cost you a lookup.
      parameters:
        - name: udprn
          in: path
          description: UDPRN to be retrieved
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UDPRNResponse'
              examples:
                Valid UDPRN:
                  value:
                    result:
                      postcode: SW1A 2AA
                      postcode_inward: 2AA
                      postcode_outward: SW1A
                      post_town: London
                      dependant_locality: ''
                      double_dependant_locality: ''
                      thoroughfare: Downing Street
                      dependant_thoroughfare: ''
                      building_number: '10'
                      building_name: ''
                      sub_building_name: ''
                      po_box: ''
                      department_name: ''
                      organisation_name: Prime Minister & First Lord Of The Treasury
                      udprn: 23747771
                      postcode_type: L
                      su_organisation_indicator: ''
                      delivery_point_suffix: 1A
                      line_1: Prime Minister & First Lord Of The Treasury
                      line_2: 10 Downing Street
                      line_3: ''
                      premise: '10'
                      longitude: -0.12767
                      latitude: 51.503541
                      eastings: 530047
                      northings: 179951
                      country: England
                      traditional_county: Greater London
                      administrative_county: ''
                      postal_county: London
                      county: London
                      district: Westminster
                      ward: St. James's
                      uprn: '100023336956'
                      id: paf_23747771
                      country_iso: GBR
                      country_iso_2: GB
                      county_code: ''
                      language: en
                      umprn: ''
                      dataset: paf
                    code: 2000
                    message: Success
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/udprn/0?api_key=iddqd
        - lang: cURL
          label: CLI
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/udprn/0 \
              -d "api_key=iddqd"
  /umprn/{umprn}:
    get:
      tags:
        - UK
      summary: Retrieve by UMPRN
      operationId: UMPRN
      description: |
        Returns a multiple occupancy address identified via its UMPRN (Multiple Residence Unique ID).

        UMPRNs are a unique numeric code for any Multiple Residence household on the optional Multiple Residence dataset.

        ## Testing

        To test your implementation of our API we have a range of test UMPRNs that yield both successful and unsuccessful responses to your request. They are the following

        - `0` Returns a successful UMPRN lookup response `2000`
        - `-1` Returns "UMPRN not found", error `4044`
        - `-2` Returns "no lookups remaining", error `4020`
        - `-3` Returns "daily (or individual) lookup limit breached", error `4021`

        Test request undergo the usual authentication and restriction rules. This is to help surface any issues that occur during implementation and does not cost you a lookup.

        ### Pricing

        Per lookup charges apply. Empty responses are not charged.
      parameters:
        - name: umprn
          in: path
          description: UMPRN to be retrieved
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UMPRNResponse'
              examples:
                Valid UMPRN:
                  value:
                    result:
                      postcode: CV4 7AL
                      postcode_inward: 7AL
                      postcode_outward: CV4
                      post_town: Coventry
                      dependant_locality: ''
                      double_dependant_locality: ''
                      thoroughfare: Gibbet Hill Road
                      dependant_thoroughfare: ''
                      building_number: ''
                      building_name: Block 1 Arthur Vick
                      sub_building_name: Room 249a
                      po_box: ''
                      department_name: ''
                      organisation_name: ''
                      udprn: 5770157
                      postcode_type: S
                      su_organisation_indicator: ''
                      delivery_point_suffix: 1A
                      line_1: Room 249a, Block 1 Arthur Vick
                      line_2: Gibbet Hill Road
                      line_3: ''
                      premise: Room 249a, Block 1 Arthur Vick
                      longitude: -1.5648072
                      latitude: 52.3858227
                      eastings: 429716
                      northings: 276509
                      country: England
                      traditional_county: Warwickshire
                      administrative_county: ''
                      postal_county: West Midlands
                      county: West Midlands
                      district: Coventry
                      ward: Wainbody
                      uprn: '200001572050'
                      id: mr_50906058
                      country_iso: GBR
                      country_iso_2: GB
                      county_code: ''
                      language: en
                      umprn: 50906058
                      dataset: mr
                    code: 2000
                    message: Success
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/umprn/0?api_key=iddqdmr
        - lang: cURL
          label: CLI
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/umprn/0 \
              -d "api_key=iddqdmr"
  /keys/{key}:
    get:
      tags:
        - Keys
      summary: Availability
      operationId: KeyAvailability
      description: |
        Returns public information on your API Key.

        This endpoint can be used for the following:
         - Determine if the key is currently usable via the `available` property
         - Determine available contexts for an API Key
        - Identify the currently likely context of a user given their location

        You may pass both API Keys (beginning `ak_`) and Sub-licensed Keys (beginning `sl_`).
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '404':
          description: Invalid Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{key}/details:
    get:
      tags:
        - Keys
      summary: Details
      operationId: KeyDetails
      description: |
        Returns private data on the key including remaining lookups, available datasets and usage limits.
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyDetailsResponse'
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
    put:
      tags:
        - Keys
      summary: Update Details
      description: Update API Key Details
      operationId: UpdateKeyDetails
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyDetailsEditable'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{key}/usage:
    get:
      tags:
        - Keys
      summary: Usage Stats
      operationId: KeyUsage
      description: |
        Reports the number of lookups consumed on a key for a range of days.

        A maximum interval of 90 days can be provided for analysis. If no start or end date is provided, the last 21 days will be used as the default interval.

        If no `start` time is provided, the start time will be set to 21 days prior to the current time.

        If no `end` time is provided, the current time will be used.

        Append `tags` to scope the number of lookups to those with matching tag values. E.g. `tags=foo,bar` will only count transactions that match `foo` and `bar`.
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
        - $ref: '#/components/parameters/StartParam'
        - $ref: '#/components/parameters/EndParam'
        - $ref: '#/components/parameters/TagsParam'
        - $ref: '#/components/parameters/LicenseeParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyUsageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/keys/iddqd/usage?user_token=my_secret_token
        - lang: cURL
          label: CLI
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/keys/iddqd/usage \
              -d "user_token=my_secret_token"
  /keys/{key}/lookups:
    get:
      tags:
        - Keys
      summary: Logs (CSV)
      operationId: KeyLogs
      description: |
        Reports lookup information on a key for paid lookups.

        This method requires a `user_token`, which can be found on your [accounts page](https://ideal-postcodes.co.uk/account).

        A maximum interval of 90 days can be provided for analysis. If no start or end date is provided, the last 21 days will be used as the default interval.

        ## Download Usage History (CSV)

        `GET /keys/:key/lookups`

        Returns a CSV download of lookups performed and associated information.

        Note that the Content-Type returned will be CSV (text/csv). For a non 200 response, the `Content-Type` will revert to JSON with the error code and message embedded.

        ## Data Redaction

        Personally Identifiable Data (PII) caught in this your usage log (including IP, search term and URL data) will be redacted on a weekly basis.

        By default, PII will be redacted if it is older than 21 days. This timeframe can be configured from your dashboard.

        You may prevent PII collection altogether by setting the interval to `0` days.
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
        - $ref: '#/components/parameters/StartParam'
        - $ref: '#/components/parameters/EndParam'
        - $ref: '#/components/parameters/LicenseeParam'
      responses:
        '200':
          description: Success
          content:
            text/csv:
              example: |
                2015-02-21T16:05:22.991Z,82.85.128.18,SW12AA,https://www.example.com/,Postcode Lookup,
                2015-02-21T16:05:38.298Z,82.85.128.18,10 Downing Street London,https://www.example.com/,Address Lookup,CRM
                2015-02-21T16:06:49.227Z,82.85.128.18,OX44PP,https://www.example.com/,Postcode Lookup,"Website,Live"
                2015-02-21T16:07:02.706Z,82.85.128.18,PL9 9HE,https://www.example.com/,Postcode Lookup,
              schema:
                type: string
                description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/keys/iddqd/lookups?user_token=my_secret_token
        - lang: cURL
          label: CLI
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/keys/iddqd/lookups \
              -d "user_token=my_secret_token"
  /cleanse/addresses:
    post:
      tags:
        - UK
      summary: Cleanse Address
      description: |
        The address cleanse API attempts to return the closest matching address for any given address inputs. We also return a number of Match Level indicators that describe the degree to which the suggested address matches the input address. The more impaired the input address, the harder it is to cleanse.

        ## Confidence Score

        The confidence score is a number ranging between 0 and 1. Where 1 implies a full match and 0 implies no major elements completely match. Each incorrect, missing or misspelled element will subtract from the overall confidence score.

        ### Deciding on an Acceptable Confidence Score Threshold

        Different address cleanse projects can have radically different inputs. However, within each project, the inputs tend to repeat the same errors. For instance, some input datasets may be exclusively inputted manually and be prone to typos. Others may have a persistently missing datapoint such as organisation name or postcode. For this reason, it is important to understand that there is no absolute Confidence Score threshold. Instead, the acceptable confidence score must be determined on a project by project basis based on systematic errors present in the data and business goals.

        When determining an acceptable Confidence Score threshold you should load a subset of the dataset into a spreadsheet application like Excel and sort on the score. Scrolling from top-to-bottom you will be able to observe matches from best to worst. As you start to hit the lower quality searches, you will be able to roughly determine:
         - Which confidence scores indicate ambiguous matches (i.e. up to building level only)
        - Which confidence scores indicate a poor or no match (i.e. the nearest matching address is too far from the input address)

        Depending on your business goals, you can also use the Match Levels to determine an acceptable match. For instance, do you need to match up to the thoroughfare or building name only? Are accurate organisation names an important feature?
      operationId: AddressCleanse
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TagsParam'
        - name: context
          in: query
          schema:
            type: string
          description: |
            Identify the country of the address to cleanse. Defaults to UK (GBR)
          example: usa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: |
                    Freeform address input to cleanse
                  example: 10 Downing Street, London, SW2A 2BN
                postcode:
                  type: string
                  description: |
                    Optionally specify postal code for the address.
                  example: SW1A 2BN
                post_town:
                  type: string
                  description: |
                    Optionally specify the city or town of the address.

                    For UK verifications, this should be the "post town" of the address.

                    For USA verifications, this should be the city of the address.
                  example: London
                county:
                  type: string
                  description: |
                    Optionally specify the county or state of the address.

                    For UK verifications, we recommend omitting this field as county data is unreliable.

                    For USA verifications, this should be the state of the address.
                  example: Kent
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CleanseResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '429':
          description: Rate Limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitedResponse'
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/cleanse/addresses' \
              -H 'Authorization: api_key="ak_test"'
              -H 'Content-Type: application/json'
              -d '{"query": "10 downing street sw1a"}'
  /verify/addresses:
    post:
      tags:
        - US
      summary: Verify Address
      description: |
        The address verify API validates, corrects, and standardizes individual addresses based on USPS's Coding Accuracy Support System (CASS).

        The address verify API accepts the 3 combination of inputs:

        - Free-form address submitted as a single string in `query`
          - Example: "123 Main St, Springfield, CO 81073-1119"
        - Only free-form and zip code address components submitted as separate parameters:
          - `query` for the first address line
          - `zip_code` for the ZIP code
          - Example:
            - `query`: "123 Main St, Springfield CO"
            - `zip_code`: "81073-1119"
        - Only free-form, city and state address components submitted as separate parameters:
          - `query` for the first address line
          - `city` for the city
          - `state` for the state
          - Example:
            - `query`: "123 Main St"
            - `city`: "Springfield"
            - `state`: "CO"
      operationId: AddressVerify
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TagsParam'
        - name: context
          in: query
          schema:
            type: string
          description: |
            Identify the country of the address to verify. Defaults to United States (USA)
          example: usa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: |
                    Address input to verify.

                    If submitting a freeform address verification query, enter the full address. E.g. `query=123 Main St, Springfield, CO, 81073`

                    Otherwise, query can be accompanied with the following address components:
                    - `zip_code`
                    - `city` and `state`

                    If zip_code or `city` and `state` or supplied, please omit this information from query by using it purely for the first address line. E.g. `query=123 Main St`
                  example: 123 Main St, Springfield, CO 81073
                zip_code:
                  type: string
                  description: |
                    Specify the zip code of an address. The following formats are accepted: `81073-1119`, `810731119`, `81073`.
                  example: 81073-1119
                city:
                  type: string
                  description: |
                    City of an address. For the US, this should be the city name.
                  example: Springfield
                state:
                  type: string
                  description: |
                    State of an address. For the US, this should be in the 2 letter state abbreviation format.
                  example: CO
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '429':
          description: Rate Limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitedResponse'
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/verify/addresses' \
              -H 'Authorization: api_key="ak_test"'
              -H 'Content-Type: application/json'
              -d '{"query": "123 Main St, Springfield, IL 62701" }'
  /autocomplete/addresses:
    get:
      tags:
        - Address Search
      summary: Find Address
      description: |
        The Address Autocomplete API delivers address suggestions in order of relevance based on a provided query. It aids real-time address autofill implementations.

        Consider using our Address Autocomplete JavaScript libraries to add address lookup to a form in moments rather than interacting with this API directly.

        ## API Usage

        Implementing our Address Autocomplete API involves:

        1. Fetch address suggestions with `/autocomplete/addresses`
        2. Acquire the complete address using the ID from the suggestion

        Step 2 will decrement your lookup balance.

        Note that step 1 is not a free standalone resource. Integrations that consistently make autocomplete requests without a paid Step 2 request will be rate limited and then suspended.

        ## Query Filters

        Refine results by appending filters to your querystring, e.g., `postcode=sw1a2aa` for postcode `SW1A 2AA`. Invalid filters return an empty set without affecting your lookup count.

        To apply multiple filter terms, use a comma-separated list, e.g., `postcode_outward=e1,e2,e3` combines result sets for E1, E2, and E3. Unless otherwise specified, all filters support multiple terms.

        Combine filters by `AND` logic, for instance, `su_organisation_indicator=Y&postcode_area=n`. The maximum allowed filter terms is **10**.

        ## Address Bias

        Preface bias searches with `bias_` to boost certain address results. Unlike filters, biasing allows unmatched addresses to appear with lower priority.

        For example, use `bias_postcode_area=SW,SE` to favor addresses in the `SW` and `SE` postcode areas. Invalid bias terms have no effect.

        Multiple bias terms are allowed unless stated otherwise, with a combined maximum of **5**.

        ## Suggestion Format

        The suggestion format is subject to change. We recommend using the suggestion as-is to prevent potential integration issues.

        ## Rate Limiting and Cost

        The rate limit for the Autocomplete API is 3000 requests per 5 minutes. HTTP Headers inform about the current rate limit.

        Autocomplete API usage does not impact your balance, but resolving a suggestion to a full address requires a paid request. Autocomplete requests without subsequent paid requests may result in rate limitation or suspension.
      operationId: FindAddress
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - name: query
          description: |
            **Address Query**

            The partial address string entered by the user to autocomplete.
          example: 10 downing street lo
          explode: false
          in: query
          schema:
            type: string
            maxLength: 150
          style: form
        - $ref: '#/components/parameters/DatasetParam'
        - $ref: '#/components/parameters/ContextParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/BiasLonLatParam'
        - $ref: '#/components/parameters/BiasIpParam'
        - $ref: '#/components/parameters/BoxParam'
        - $ref: '#/components/parameters/PostcodeOutwardParam'
        - $ref: '#/components/parameters/PostcodeParam'
        - $ref: '#/components/parameters/PostcodeAreaParam'
        - $ref: '#/components/parameters/PostcodeSectorParam'
        - $ref: '#/components/parameters/PostTownParam'
        - $ref: '#/components/parameters/UPRNParam'
        - $ref: '#/components/parameters/CountryParam'
        - $ref: '#/components/parameters/PostcodeTypeParam'
        - $ref: '#/components/parameters/SmallUserParam'
        - $ref: '#/components/parameters/BiasPostcodeOutwardParam'
        - $ref: '#/components/parameters/BiasPostcodeParam'
        - $ref: '#/components/parameters/BiasPostcodeAreaParam'
        - $ref: '#/components/parameters/BiasPostcodeSectorParam'
        - $ref: '#/components/parameters/BiasPosttownParam'
        - $ref: '#/components/parameters/BiasThoroughfareParam'
        - $ref: '#/components/parameters/BiasCountryParam'
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests that can be made in 5 minutes
              schema:
                type: number
                format: int32
            X-RateLimit-Remaining:
              description: The remaining requests within the current rate limit window
              schema:
                type: number
                format: int32
            X-RateLimit-Reset:
              description: |
                The time when the rate limit window resets in Unix Time (seconds) or UTC Epoch seconds.
              schema:
                type: number
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteResponse'
              examples:
                GBR:
                  summary: Example response for GBR context
                  value:
                    result:
                      hits:
                        - id: paf_23747771
                          suggestion: Prime Minister & First Lord Of The Treasury, 10 Downing Street, London, SW1A
                          udprn: 23747771
                          urls:
                            udprn: /v1/udprn/23747771
                        - id: paf_26245117
                          suggestion: Flat 10, Downing Court, Grenville Street, London, WC1N
                          udprn: 26245117
                          urls:
                            udprn: /v1/udprn/26245117
                    code: 2000
                    message: Success
                USA:
                  summary: Example response for USA context
                  value:
                    result:
                      hits:
                        - suggestion: 10 Downing St, Montpelier, VT, 05602
                          urls: {}
                          id: usps_V210079628|10||3797
                        - suggestion: 10 Ten Downing St, Fountain Inn, SC, 29644
                          urls: {}
                          id: usps_X219061579|10||5031
                        - suggestion: 10 Downing St Apt 1, Montpelier, VT, 05602
                          urls: {}
                          id: usps_V210079629|10|1|3798
                        - suggestion: 2100 N Downing St Unit 10, Denver, CO, 80205
                          urls: {}
                          id: usps_Z125260298|2100|10|5272
                        - suggestion: 10 S Downing St, Denver, CO, 80209
                          urls: {}
                          id: usps_Z105732754|10||2411
                        - suggestion: 10 Downing St, Hollister, MO, 65672
                          urls: {}
                          id: usps_W112200302|10||5568
                        - suggestion: 10 Downing St, Greensboro, NC, 27410
                          urls: {}
                          id: usps_Y127860601|10||2448
                        - suggestion: 1 S Downing St Apt 10, Denver, CO, 80209
                          urls: {}
                          id: usps_Z105731302|1|10|2440
                        - suggestion: 1560 N Downing St Apt 10, Denver, CO, 80218
                          urls: {}
                          id: usps_Z122881416|1560|10|1538
                        - suggestion: 2202 N Downing St Apt 10, Denver, CO, 80205
                          urls: {}
                          id: usps_Z122964113|2202|10|5264
                    code: 2000
                    message: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses?api_key=iddqd&q=10%20downing
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses' \
              -d 'api_key=iddqd' \
              --data-urlencode 'query=10 downing'
  /autocomplete/addresses/{address}/gbr:
    get:
      tags:
        - Address Search
      summary: Resolve Address
      operationId: ResolveAddress
      description: |
        Resolves an address autocompletion by its address ID.

        Resolved addresses (including global addresses) are returned in a UK format (up to 3 address lines) using UK nomenclature (like postcode and county).
      parameters:
        - name: address
          in: path
          description: |
            **ID of address suggestion**

            ID of address suggestion provided by the API to fully resolve.
          required: true
          style: simple
          explode: false
          example: paf_23747771
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TagsParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GbrResolveAddressResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/paf_23747771/gbr?api_key=iddqd
        - lang: cURL
          label: CLI
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/paf_23747771/gbr?api_key=iddqd \
              -d "api_key=iddqd"
  /autocomplete/addresses/{address}/usa:
    get:
      tags:
        - Address Search
      summary: Retrieve Address
      operationId: RetrieveAddress
      description: |
        Resolves an address autocompletion by its address ID.

        Resolved addresses (including global addresses) are returned in a US format (up to 2 address lines) using US nomenclature (like zipcode, state and city).
      parameters:
        - name: address
          in: path
          description: |
            **ID of address suggestion**

            ID of address suggestion provided by the API to fully retrieve.
          required: true
          style: simple
          explode: false
          example: usps_V118834572|310||3191
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TagsParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsaResolveAddressResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/usps_Z222446599|1||1101/usa?api_key=iddqd
        - lang: cURL
          label: CLI
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/usps_Z222446599|1||1101/usa?api_key=iddqd \
              -d "api_key=iddqd"
  /addresses:
    get:
      tags:
        - UK
      summary: Extract Addresses
      description: |
        Extract a list of complete addresses that match the query ordered by relevance score. This query accepts an optional limit and page query (defaults to 10 and 0 respectively).

        If a valid postcode is passed as the query string, the entire address list for that postcode is passed as a result. Note, in these cases, limit and page parameters are ignored.

        This API is designed as a multi-purpose tool for generating address lists, cleansing and wholesale data extraction according to specific parameters.

        For address autocomplete, see our address finder API - which is designed for speed and address completion.

        ## Reverse Geocoding

        Return a list of addresses around a point using the lon= and lat= querystring arguments. Addresses will be sorted in order of distance to the point. The search radius is 100m.

        ## Filters

        You can strictly narrow your result by adding filters to your query string which correspond with an address attribute.

        For instance, you can restrict to postcode `SW1A 2AA` by appending `postcode=sw1a2aa`.

        If a filter term is invalid, e.g. `postcode=SW1A2AAA`, then an empty result set is returned and no lookup is incurred.

        You can also scope using multiple terms for the same filter with a comma separated list of terms. E.g. Restrict results to E1, E2 and E3 outward codes: `postcode_outward=e1,e2,e3`. Multiple terms are `OR`'ed, i.e. the matching result sets are combined.

        All filters can accept multiple terms unless stated otherwise below.

        Multiple filters can also be combined. E.g. Restrict results to small user organisations in the N postcode area: `su_organisation_indicator=Y&postcode_area=n`. Multiple filters are `AND`'ed, i.e. each additional filter narrows the result set.

        A combined maximum of 5 terms are allowed across all filters.

        ## Biases

        You can boost certain addresses results that correspond with a certain address attribute. All bias searches are prefixed with `bias_`.

        Biased searches, unlike filtered searches, also allow unmatched addresses to appear . These will rank lower.

        For instance, you can boost addresses with postcode areas `SW` and `SE` by appending `bias_postcode_area=SW,SE`.

        If a bias term is invalid, e.g. `bias_postcode=SW1A2AAA` no bias effect is applied.

        You may scope using multiple terms for the same bias with a comma separated list of terms. E.g. Restrict results to `E1`, `E2` and `E3` outward codes: `bias_postcode_outward=e1,e2,e3`.

        All biases can accept multiple terms unless stated otherwise below.

        A combined maximum of 5 terms are allowed across all biases.

        ## Search by Postcode and Building Name or Number

        Search by postcode and building attribute with the postcode filter and query argument. E.g. For "SW1A 2AA Prime Minister" `/v1/addresses?postcode=sw1a2aa&q=prime minister`.

        The advantage of using filters is a postcode mismatch does not result in a lookup as no results are returned.

        #### Search By UPRN

        Search by UPRN using the `uprn` filter and excluding the query argument. E.g. `/v1/addresses?uprn=100`.

        ## Testing

        - **ID1 1QD** Returns a successful query response `2000`
        - **ID1 KFA** Returns an empty query response `2000`
        - **ID1 CLIP** Returns "no lookups remaining" error `4020`
        - **ID1 CHOP** Returns "daily (or individual) lookup limit breached" error `4021`

        Test request undergo the usual authentication and restriction rules. This is to help surface any issues that occur during implementation and does not cost you a lookup.
      operationId: Addresses
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - name: query
          in: query
          description: Specifies the address you wish to query.
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/AddressLongitudeParam'
        - $ref: '#/components/parameters/AddressLatitudeParam'
        - $ref: '#/components/parameters/PostcodeOutwardParam'
        - $ref: '#/components/parameters/PostcodeParam'
        - $ref: '#/components/parameters/PostcodeAreaParam'
        - $ref: '#/components/parameters/PostcodeSectorParam'
        - $ref: '#/components/parameters/PostTownParam'
        - $ref: '#/components/parameters/UPRNParam'
        - $ref: '#/components/parameters/CountryParam'
        - $ref: '#/components/parameters/PostcodeTypeParam'
        - $ref: '#/components/parameters/SmallUserParam'
        - $ref: '#/components/parameters/BoxParam'
        - $ref: '#/components/parameters/BiasPostcodeOutwardParam'
        - $ref: '#/components/parameters/BiasPostcodeParam'
        - $ref: '#/components/parameters/BiasPostcodeAreaParam'
        - $ref: '#/components/parameters/BiasPostcodeSectorParam'
        - $ref: '#/components/parameters/BiasPosttownParam'
        - $ref: '#/components/parameters/BiasThoroughfareParam'
        - $ref: '#/components/parameters/BiasCountryParam'
        - $ref: '#/components/parameters/BiasLonLatParam'
        - $ref: '#/components/parameters/TagsParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '404':
          description: Postcode Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeNotFoundResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/addresses?api_key=iddqd&query=10%20downing%20street%20london
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/addresses' \
              -d 'api_key=iddqd' \
              --data-urlencode 'query=10 downing street london'
  /places:
    get:
      tags:
        - Place Search
      summary: Find Place
      description: |
        Query for geographical places across countries. Each query will return a list of place suggestions, which consists of a place name, descriptive name and id.

        This API returns geographical information such as countries, capitals, administrative areas and more. It is ideal for correctly identifying a place along with any other details like geolocation.

        ## Implementing Place Autocomplete

        Extracting the full information of a place is a 2 step process:

        1. Retrieve place suggestions via /places
        2. Retrieve the entire place with the ID provided in the suggestion

        ## Suggestion Format

        Each place suggestion contains a descriptive name which you can provide to users to uniquely identify a place.

        ## Rate Limiting and Cost

        The rate limit for the Autocomplete API is 3000 requests per 5 minutes. HTTP Headers inform about the current rate limit.

        Autocomplete API usage does not impact your balance, but resolving a suggestion to a full address requires a paid request. Autocomplete requests without subsequent paid requests may result in rate limitation or suspension.
      operationId: FindPlace
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - name: query
          in: query
          description: Specifies the place you wish to query. Query can be shortened to `q=`
          style: form
          explode: false
          schema:
            type: string
          allowReserved: true
        - $ref: '#/components/parameters/CountryIsoParam'
        - $ref: '#/components/parameters/BiasCountryIsoParam'
        - $ref: '#/components/parameters/BiasLonLatParam'
        - $ref: '#/components/parameters/BiasIpParam'
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests that can be made in 5 minutes
              schema:
                type: number
                format: int32
            X-RateLimit-Remaining:
              description: The remaining requests within the current rate limit window
              schema:
                type: number
                format: int32
            X-RateLimit-Reset:
              description: |
                The time when the rate limit window resets in Unix Time (seconds) or UTC Epoch seconds.
              schema:
                type: number
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
              examples:
                Result:
                  value:
                    result:
                      hits:
                        - id: geonames_2643743
                          name: London
                          descriptive_name: London, Greater London, England
                          country_iso: GBR
                        - id: geonames_4517009
                          name: London
                          descriptive_name: London, Madison County, Ohio
                          country_iso: USA
                        - id: geonames_4298960
                          name: London
                          descriptive_name: London, Laurel County, Kentucky
                          country_iso: USA
                    code: 2000
                    message: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/places?api_key=ak_test&query=london
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/places' \
              -d 'api_key=ak_test' \
              --data-urlencode 'query=london'
  /places/{place}:
    get:
      tags:
        - Place Search
      summary: Resolve Place
      operationId: ResolvePlace
      description: |
        Resolves a place autocompletion by its place ID.
      parameters:
        - name: place
          in: path
          description: ID of place suggestion
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TagsParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolvePlaceResponse'
              examples:
                Valid Place:
                  value:
                    result:
                      id: geonames_2643743
                      dataset: geonames
                      name: London
                      descriptive_name: London, Greater London, England
                      language: en
                      longitude: -0.12574
                      latitude: 51.50853
                      country_iso: GBR
                      native:
                        admin1_code: ENG
                        admin2_name: Greater London
                        geonameid: 2643743
                        timezone: Europe/London
                        latitude: 51.50853
                        language: en
                        dem: 25
                        admin4_code: ''
                        admin1_geonameid: 6269131
                        alternatenames:
                          - ILondon
                          - LON
                          - Lakana
                          - Landan
                          - Landen
                          - Ljondan
                          - Llundain
                          - Lodoni
                          - Londain
                          - Londan
                          - Londar
                          - Londe
                          - Londen
                          - Londin
                          - Londinium
                          - Londino
                          - Londn
                          - London
                          - London osh
                          - Londona
                          - Londonas
                          - Londoni
                          - Londono
                          - Londons
                          - Londonu
                          - Londra
                          - Londres
                          - Londrez
                          - Londri
                          - Londro
                          - Londye
                          - Londyn
                          - Londýn
                          - Lonn
                          - Lontoo
                          - Loundres
                          - Luan GJon
                          - Lun-tun
                          - Lunden
                          - Lundra
                          - Lundun
                          - Lundunir
                          - Lundúnir
                          - Lung-dung
                          - Lunnainn
                          - Lunnin
                          - Lunnon
                          - Luân Đôn
                          - Lùn-tûn
                          - Lùng-dŭng
                          - Lûn-tun
                          - Lākana
                          - Lůndůn
                          - Lọndọnu
                          - Ranana
                          - Rānana
                          - ilantan
                          - ladana
                          - landan
                          - landana
                          - leondeon
                          - lndn
                          - london
                          - londoni
                          - lun dui
                          - lun dun
                          - lwndwn
                          - lxndxn
                          - rondon
                          - Łondra
                          - Λονδίνο
                          - Лондан
                          - Лондон
                          - Лондон ош
                          - Лондонъ
                          - Лёндан
                          - Լոնդոն
                          - לאנדאן
                          - לונדון
                          - لأندأن
                          - لندن
                          - لوندون
                          - لەندەن
                          - ܠܘܢܕܘܢ
                          - लंडन
                          - लंदन
                          - लण्डन
                          - लन्डन्
                          - लन्दन
                          - লন্ডন
                          - ਲੰਡਨ
                          - લંડન
                          - ଲ୍ଡନ
                          - இலண்டன்
                          - లండన్
                          - ಲಂಡನ್
                          - ലണ്ടൻ
                          - ලන්ඩන්
                          - ลอนดอน
                          - ລອນດອນ
                          - ལོན་ཊོན།
                          - လန်ဒန်မြို့
                          - ლონდონი
                          - ለንደን
                          - ᎫᎴ ᏗᏍᎪᏂᎯᏱ
                          - ロンドン
                          - 伦敦
                          - 倫敦
                          - 런던
                        cc2: []
                        admin2_code: GLA
                        modification_date: '2022-03-09T00:00:00.000Z'
                        asciiname: London
                        id: geonames_2643743
                        feature_code: PPLC
                        country_iso: GBR
                        longitude: -0.12574
                        elevation: null
                        admin2_geonameid: 2648110
                        admin1_name: England
                        population: '8961989'
                        country_code: GB
                        feature_class: P
                        name: London
                        admin3_code: ''
                        dataset: geonames
                    code: 2000
                    message: Success
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/places/geonames_5353?api_key=ak_test
        - lang: cURL
          label: CLI
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/places/geonames_5355?api_key=ak_test \
              -d "api_key=ak_test"
  /keys/{key}/licensees:
    get:
      tags:
        - Licensees
      summary: List
      description: Returns a list of licensees for a key.
      operationId: ListLicensees
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - name: starting_after
          in: query
          description: Specify ID of the licensee after which you would like to list results
          style: form
          explode: false
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/UserTokenParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: query
          in: query
          description: Filter result by licensee name. Query can be shortened to `q=`
          style: form
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
    post:
      tags:
        - Licensees
      summary: Create
      description: Create a licensee for the specified API Key.
      operationId: CreateLicensee
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseeEditable'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
  /keys/{key}/licensees/{licensee}:
    get:
      tags:
        - Licensees
      summary: Retrieve
      description: Returns licensee information as identified by the licensee key.
      operationId: RetrieveLicensee
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/LicenseePathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
    delete:
      tags:
        - Licensees
      summary: Cancel
      description: Cancels a licensee key. This renders a licensee unusable. This action can be reversed if you get in contact with us.
      operationId: DeleteLicensee
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/LicenseePathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                required:
                  - result
                  - code
                  - message
                title: Licensee Delete Response
                type: object
                properties:
                  result:
                    type: object
                    required:
                      - deleted
                    properties:
                      deleted:
                        type: number
                        format: int32
                        example: 1
                        minimum: 0
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 2000
                  message:
                    type: string
                    enum:
                      - Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
    put:
      tags:
        - Licensees
      summary: Update
      description: Update Licensee
      operationId: UpdateLicensee
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/LicenseePathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseeEditable'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
  /keys/{key}/configs:
    get:
      tags:
        - Configurations
      summary: List
      description: Lists configurations associated with a key
      operationId: ListConfigs
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
    post:
      tags:
        - Configurations
      summary: Create
      description: Create a configuration
      operationId: CreateConfig
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/UserTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigNewParam'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
  /keys/{key}/configs/{config}:
    get:
      tags:
        - Configurations
      summary: Retrieve
      description: Retrieve configuration object by name
      operationId: RetrieveConfig
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/ConfigParam'
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
    delete:
      tags:
        - Configurations
      summary: Delete
      description: Permanently deletes a configuration object.
      operationId: DeleteConfig
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/ConfigParam'
        - $ref: '#/components/parameters/UserTokenParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Config Delete Response
                type: object
                required:
                  - result
                  - code
                  - message
                properties:
                  result:
                    type: object
                    required:
                      - deleted
                    properties:
                      deleted:
                        type: number
                        format: int32
                        example: 1
                        minimum: 0
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 2000
                  message:
                    type: string
                    enum:
                      - Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
    post:
      tags:
        - Configurations
      summary: Update
      description: Updates configuration object
      operationId: UpdateConfig
      parameters:
        - $ref: '#/components/parameters/ApiKeyPathParam'
        - $ref: '#/components/parameters/ConfigParam'
        - $ref: '#/components/parameters/UserTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigUpdateParam'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
  /emails:
    get:
      tags:
        - Emails
      summary: Email Validation
      description: |
        Query for and validate email addresses.
      operationId: EmailValidation
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - name: query
          in: query
          description: Specifies the email address to validate
          required: true
          explode: false
          style: form
          schema:
            type: string
          allowReserved: true
        - $ref: '#/components/parameters/TagsParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResponse'
              examples:
                Valid Email:
                  value:
                    result:
                      result: deliverable
                      deliverable: true
                      catchall: false
                      free: false
                      role: true
                      disposable: false
                      suggestions: []
                    code: 2000
                    message: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/emails?api_key=ak_test&query=foo@domain.com
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/emails' \
              -d 'api_key=iddqd' \
              --data-urlencode 'query=foo@domain.com'
  /phone_numbers:
    get:
      tags:
        - Phone Numbers
      summary: Phone Number Validation
      description: |
        Query for and validate phone numbers.
      operationId: PhoneNumberValidation
      parameters:
        - $ref: '#/components/parameters/ApiKeyParam'
        - name: query
          in: query
          description: Specifies the phone number to validate. Phone number must include a country code in acceptable format. For instance, UK phone numbers should be suffixed `+44`, `44` or `0044`.
          required: true
          explode: false
          style: form
          schema:
            type: string
          allowReserved: true
        - name: current_carrier
          in: query
          required: false
          description: |
            When set to `true` the current network of the phone number will be retrieved and populated.

            Note that this operation is potentially slow depending on the network and local conditions.
          explode: false
          style: form
          schema:
            type: string
            enum:
              - 'true'
        - $ref: '#/components/parameters/TagsParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
              examples:
                Valid Phone Number:
                  value:
                    result:
                      valid: true
                      national_format: 020 7112 8019
                      international_format: +44 20 7112 8019
                      iso_country: GBR
                      iso_country_2: GB
                      country: United Kingdom
                      current_carrier:
                        network_code: null
                        name: Invomo Ltd
                        country: GB
                        network_type: landline
                      original_carrier:
                        network_code: null
                        name: Invomo Ltd
                        country: GB
                        network_type: landline
                    code: 2000
                    message: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '429':
          description: Rate Limit Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.ideal-postcodes.co.uk/v1/phone_numbers?api_key=ak_test&query=02071128019
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/phone_numbers' \
              -d 'api_key=iddqd' \
              --data-urlencode 'query=02071128019'
components:
  schemas:
    ecaf:
      $ref: '#/components/schemas/EcafAddress'
    ecad:
      $ref: '#/components/schemas/EcadAddress'
    geonames:
      $ref: '#/components/schemas/GeonamesPlace'
    here:
      $ref: '#/components/schemas/HereAddress'
    ID:
      title: ID
      type: string
      description: Global unique internally generated identifier for an address
      example: paf_8387729
    paf_dataset:
      title: Dataset
      type: string
      description: Indicates the provenance of an address
    paf_country_iso:
      title: ISO Country Code (3)
      type: string
      description: |2
          3 letter country code (ISO 3166-1)
    paf_country_iso_2:
      title: ISO Country Code (2)
      type: string
      description: |2
         2 letter country code (ISO 3166-1)
    paf_country:
      title: Country
      type: string
      description: |2
          Full country names (ISO 3166)
      example: England
    paf_language:
      title: Language
      type: string
      description: |
        Language represented by 2 letter ISO Code (639-1)
    paf_line1:
      title: Line 1
      type: string
      description: First Address Line. Often contains premise and thoroughfare information. In the case of a commercial premise, the first line is always the full name of the registered organisation. Never empty.
      example: Prime Minister &amp; First Lord of Treasury
    paf_line2:
      title: Line 2
      type: string
      description: Second Address Line. Often contains thoroughfare and locality information. May be empty
      example: 10 Downing Street
    paf_line3:
      title: Line 3
      type: string
      description: Third address line. May be empty.
      example: ''
    paf_post_town:
      maxLength: 30
      type: string
      description: |
        **Filter by Town or City"
        A Post Town is mandatory for delivery of mail to a Delivery Point. This is not necessarily the nearest town geographically, but a routing instruction to the Royal Mail delivery office sorting mail for that Delivery Point. A Post Town will always be present in every address, and for some Localities the Post Town will be the only locality element present.
      example: London
    paf_postcode:
      title: Postcode
      type: string
      description: Correctly formatted postcode. Capitalised and spaced.
      maxLength: 8
      minLength: 6
      example: SW1A 2AA
    paf_county:
      title: County
      type: string
      description: Since postal, administrative or traditional counties may not apply to some addresses, the county field is designed to return whatever county data is available. Normally, the postal county is returned. If this is not present, the county field will fall back to the administrative county. If the administrative county is also not present, the county field will fall back to the traditional county. May be empty in cases where no administrative, postal or traditional county present.
      example: London
    paf_uprn:
      title: Unique Property Reference Number
      type: string
      description: |-
        UPRN stands for Unique Property Reference Number and is maintained by the Ordnance Survey (OS). Local governments in the UK have allocated a unique number for each land or property.

        Up to 12 digits in length.

        Multiple Residence premises currently share the same UPRN as the parent premise.

        May not be available for a small number of Great Britain addresses due to longer update cycles for Ordnance Survey's AddressBase datasets. Returns empty string "" in these instances.

        Although UPRN takes an integer format, we encode and transmit this data as strings. As a 12 digit number, the UPRN can exceed the maximum safe integer `Number.MAX_SAFE_INTEGER` in most browsers causing this datapoint to be corrupted.

        Take special care when storing UPRN. As a 12 digit identifier, you will need 64 bits to encode every possible UPRN value. This means applications like Excel will corrupt cells containing UPRN values.
    paf_udprn:
      title: Unique Delivery Point Reference Number (UDPRN)
      type: integer
      format: int32
      description: |-
        UDPRN stands for ‘Unique Delivery Point Reference Number’. Royal Mail assigns a unique UDPRN code for each premise on PAF. Simple, unique reference number for each Delivery Point. Unlikely to be reused when an address expires.

        Up to 8-digit numeric code.

        A new UDPRN is automatically assigned to each new Delivery Point added to PAF.
      example: 23747771
    paf_umprn:
      title: UMPRN
      description: |-
        A small minority of individual premises (as identified by a UDPRN) may have multiple occupants behind the same letterbox. These are known as Multiple Residence occupants and can be queried via the Multiple Residence dataset. Simple, unique reference number for each Multiple Residence occupant.

        Note: this will be an empty string `""` when not used.
      oneOf:
        - type: string
          description: If premise is not multiple occupancy, this will be an empty string
        - type: number
          description: If premise is multiple occupancy, this will be an integer
          example: 983729
          minimum: 0
          maximum: 99999999
    paf_postcode_outward:
      title: Postcode Outward
      type: string
      description: The first part of a postcode is known as the outward code. e.g. The outward code of ID1 1QD is ID1. Enables mail to be sorted to the correct local area for delivery. This part of the code contains the area and the district to which the mail is to be delivered, e.g. ‘PO1’, ‘SW1A’ or ‘B23’.
      maxLength: 4
      minLength: 2
      example: SW1A
    paf_postcode_inward:
      title: Postcode Inward
      type: string
      description: |-
        The second part of a postcode is known as the inward code. e.g. The inward code of ID1 1QD is 1QD.

        The number identifies the sector in the postal district. The number is followed by 2 letters. The letters then define one or more properties in that sector.
      maxLength: 3
      minLength: 3
      example: 2AA
    paf_dependant_locality:
      title: Dependant Locality
      type: string
      description: When the same thoroughfare name reoccurs in a Post town, it may not be possible to make it dependant on a dependant thoroughfare. In this case the thoroughfare is dependant on a locality. For example if we want to find 1 Back Lane in Huddersfield we see that there are three.
      maxLength: 35
      example: ''
    paf_double_dependant_locality:
      title: Double Dependant Locality
      type: string
      description: Used to supplement Dependant Locality. A Double Dependant Locality supplied along with a Dependant Locality if the Dependant Locality exists twice in the same locality.
      maxLength: 35
      example: ''
    paf_thoroughfare:
      title: Thoroughfare
      type: string
      description: Also known as the street or road name. In general each Thoroughfare Name will have a separate Postcode. Longer Thoroughfares with high number ranges often have multiple Postcodes covering the entire length of the road, with breaks at suitable points e.g. junctions or natural breaks in the road.
      maxLength: 80
      example: Downing Street
    paf_dependant_thoroughfare:
      title: Dependant Thoroughfare
      type: string
      description: Used to supplement thoroughfare. When a thoroughfare name is used twice in the same Post Town, the dependant thoroughfare is added to uniquely indentify a delivery point.
      maxLength: 80
      example: ''
    paf_building_number:
      title: Building Number
      type: string
      description: Number to identify premise on a thoroughfare or dependant thoroughfare.
      maxLength: 4
      example: '10'
    paf_building_name:
      title: Building Name
      type: string
      description: |-
        Name of residential or commercial premise. 

        Examples:
          - The Manor
          - 1-2
          - A
          - 12A
          - K
          - Victoria House
      maxLength: 50
      example: ''
    paf_sub_building_name:
      title: Sub-Building Name
      type: string
      description: When a premise is split into individual units such as flats, apartments or business units. Cannot be present without either building_name or building_number. E.g. Flat 1, A, 10B
      maxLength: 30
      example: Flat 1
    paf_pobox:
      title: PO Box
      type: string
      description: When the PO Box Number field is populated it will contain PO BOX nnnnnn where n represents the PO Box number. Note that the PO Box details can occasionally consist of a combination of numbers and letters. PO Box Numbers are only allocated to Large Users.
      maxLength: 6
      example: '100'
    paf_department_name:
      title: Department Name
      type: string
      description: Used to supplment Organisation Name to identify a deparment within the organisation.
      maxLength: 60
      example: ''
    paf_organisation_name:
      title: Organisation Name
      type: string
      description: Used to supplment Organisation Name to identify a deparment within the organisation
      maxLength: 60
      example: Prime Minister &amp; First Lord Of The Treasury
    paf_postcode_type:
      enum:
        - S
        - L
        - ''
      title: Postcode Type
      description: |-
        This indicates the type of user. It can only take the values 'S' or 'L' indicating small or large respectively. Large User Postcodes. These are assigned to one single address either due to the large volume of mail received at that address, or because a PO Box or Selectapost service has been set up. Small User Postcodes. These identify a group of Delivery Points.

        On average there are 19 Delivery Points per Postcode. However this can vary between 1 and, in some cases, 100. There will never be more than 100 Delivery Points on a Postcode.
    paf_su_organisation_indicator:
      title: Small User Organisation Indicator
      type: string
      description: Small User Organisation Indicator can have the values 'Y' or space. A value of 'Y' indicates that a Small User Organisation is present at this address.
      example: 'Y'
    paf_delivery_point_suffix:
      title: Delivery Point Suffix
      type: string
      description: A unique Royal Mail 2-character code (the first numeric & the second alphabetical), which, when added to the Postcode, enables each live Delivery Point to be uniquely identified. Once the Delivery Point is deleted from PAF the DPS may be reused (although they aren’t reused until all remaining Delivery Points in the range have been allocated). The DPS for a Large User is always '1A' as each Large User has its own Postcode.
      example: 1A
    paf_premise:
      title: Premise
      type: string
      description: A pre-computed string which sensibly combines building_number, building_name and sub_building_name. building_number, building_name and sub_building_name represent raw data from Royal Mail's and can be difficult to parse if you are unaware of how the Postcode Address File premise fields work together. For this reason, we also provide a pre-computed premise field which intelligently gathers these points into a single, simple premise string. This field is ideal if you want to pull premise information and thoroughfare information separately instead of using our address lines data.
      maxLength: 84
      example: '10'
    paf_administrative_county:
      title: Administrative County
      type: string
      description: |-
        The current administrative county to which the postcode has been assigned.

        A Unitary Authority name, where one is present. If there is no Unitary Authority, the County name is used. This information is not static, because County boundaries may change due to administrative changes. Data

        source: ONS
      example: ''
    paf_postal_county:
      title: Postal County
      type: string
      description: Postal counties were used for the distribution of mail before the Postcode system was introduced in the 1970s. The Former Postal County was the Administrative County at the time. This data rarely changes. May be empty.
      example: London
    paf_traditional_county:
      title: Traditional County
      type: string
      description: Traditional counties are provided by the Association of British Counties. It is historical data, and can date from the 1800s. May be empty.
      example: Greater London
    paf_district:
      title: District
      type: string
      description: The current district/unitary authority to which the postcode has been assigned.
      example: Westminster
    paf_ward:
      title: Ward
      type: string
      description: The current administrative/electoral area to which the postcode has been assigned. May be empty for a small number of addresses.
      example: St. James'
    Longitude:
      title: Longitude
      description: |-
        The longitude of the postcode (WGS84/ETRS89).

        Can be a positive or negative decimal. E.g. -0.1283983

        Returns an empty string if no location data is available. 
      oneOf:
        - type: string
          description: Empty string `""` if not available
        - type: number
          description: Represents longitude
          example: 0.002823
          minimum: -180
          maximum: 180
    Latitude:
      title: Longitude
      description: |-
        The latitude of the postcode (WGS84/ETRS89).

        Can be a positive or negative decimal. E.g. `51.5083983`.

        Returns an empty string if no location data is available. 
      oneOf:
        - type: string
          description: Empty string `""` if not available
        - type: number
          description: Represents latitude
          example: 52.938278
          minimum: -90
          maximum: 90
    Eastings:
      title: Eastings
      description: |-
        Eastings reference using the [Ordnance Survey National Grid reference system](https://en.wikipedia.org/wiki/Ordnance_Survey_National_Grid).

        Northern Ireland Eastings uses the [Irish Grid Reference System](https://en.wikipedia.org/wiki/Irish_grid_reference_system).

        Metres from origin. E.g. `550458`

        Returns an empty string if no location data is available. Otherwise a number is returned.
      oneOf:
        - type: string
          description: Empty string `""` if not available
        - type: number
          description: Metres offset east from origin
          example: 9382
          minimum: 0
          maximum: 999999
    Northings:
      title: Northings
      description: |-
        Northings reference using the [Ordnance Survey National Grid reference system](https://en.wikipedia.org/wiki/Ordnance_Survey_National_Grid)

        Northern Ireland Northings uses the [Irish Grid Reference System](https://en.wikipedia.org/wiki/Irish_grid_reference_system)

        Metres from origin. E.g. `180458`

        Returns an empty string if no location data is available. Otherwise a number is returned  
      oneOf:
        - type: string
          description: Empty string `""` if not available
        - type: number
          description: Metres offset north from origin
          example: 123932
          minimum: 0
          maximum: 999999
    PafBase:
      required:
        - postcode
        - postcode_outward
        - postcode_inward
        - post_town
        - dependant_locality
        - double_dependant_locality
        - thoroughfare
        - dependant_thoroughfare
        - building_number
        - building_name
        - sub_building_name
        - po_box
        - department_name
        - organisation_name
        - udprn
        - umprn
        - postcode_type
        - su_organisation_indicator
        - delivery_point_suffix
        - line_1
        - line_2
        - line_3
        - premise
        - country
        - administrative_county
        - postal_county
        - traditional_county
        - district
        - ward
        - longitude
        - latitude
        - eastings
        - northings
        - uprn
        - county
        - county_code
        - id
        - dataset
        - country_iso
        - country_iso_2
        - language
      properties:
        id:
          $ref: '#/components/schemas/ID'
        dataset:
          $ref: '#/components/schemas/paf_dataset'
        country_iso:
          $ref: '#/components/schemas/paf_country_iso'
        country_iso_2:
          $ref: '#/components/schemas/paf_country_iso_2'
        country:
          $ref: '#/components/schemas/paf_country'
        language:
          $ref: '#/components/schemas/paf_language'
        line_1:
          $ref: '#/components/schemas/paf_line1'
        line_2:
          $ref: '#/components/schemas/paf_line2'
        line_3:
[...]
